
@model  int
@{
    string name = ViewData.TemplateInfo.GetFullHtmlFieldId(null);
    var CurrenYear = DateTime.Now.Year;
    var NexYear = DateTime.Now.Year + 1;
    var MaxData = new DateTime(NexYear, 12, 30);
}


<div class="form-auctioncalendar clearfix">
    <div class="form-auctioncalendar-tips">
        <span><em></em>可售</span><span><em class="nosale"></em>不可售</span>
    </div>
    <div class="form-auctioncalendar-year">
        <p>@CurrenYear</p>
        <p>@NexYear</p>
    </div>
    <div class="form-auctioncalendar-month">
        <ul>
            <li class="form-auctioncalendar-top">
                @*   <span style="width: 258px; left: 120px; cursor: pointer" onclick="delSchedule(48)" title="2013年03月19日-2013年08月30日不可售，点击可删除">
                    <strong class="form-auctioncalendar-left">03/19</strong>
                    <strong class="form-auctioncalendar-right">08/30</strong>
                </span>*@
            </li>
            <li class="form-auctioncalendar-list">
                <ul>
                    <li>1月</li>
                    <li>2月</li>
                    <li>3月</li>
                    <li>4月</li>
                    <li>5月</li>
                    <li>6月</li>
                    <li>7月</li>
                    <li>8月</li>
                    <li>9月</li>
                    <li>10月</li>
                    <li>11月</li>
                    <li class="last">12月</li>
                </ul>
            </li>
            <li class="form-auctioncalendar-bottom"></li>
        </ul>
    </div>
</div>

<div class="form-field">
    <label>媒体排期：</label>
    <div class="filed-auction">
        @(Html.Kendo().DatePicker()
            .Name(name + "_startpicker")
            .Min(DateTime.Today)
            .Value(DateTime.Today)
            .Max(MaxData)
            .Events(e =>
            {
                e.Change(name + ".startChange");
            })
         )
        至
        @(Html.Kendo().DatePicker()
            .Name(name + "_endpicker")
            .Min(DateTime.Today)
            .Value(DateTime.Today.AddDays(1))
            .Max(MaxData)
            .Events(e =>
            {
                e.Change(name + ".endChange");
            })
         )
        <button type="button" class="k-button k-button-icontext " id="@(name + "_submit")" >
            <span class="k-icon k-i-plus"></span>
            添加</button>

        <div class="field-validation-error field-auction-error " id="@(name + "_error")" style="display:none;">
        </div>

    </div>
</div>



<script type="text/javascript">
    var @name={
        id:'@name',
        mediaId:@Model ,
        submitId:'@(name + "_submit")',
        errorId:'@(name + "_error")',
        startpickerId:'@(name + "_startpicker")',
        endpickerId:'@(name + "_endpicker")',
        startChange:function(e){
            var self=@name;
            var startPicker=$('#'+self.startpickerId).data("kendoDatePicker");
            var endpicker=$('#'+self.endpickerId).data("kendoDatePicker");
            endpicker.min(startPicker.value());
        },
        endChange:function(e){
            var self=@name;
            self.validateAuction();
        },
        validateAuction:function(){
            var d=$.Deferred();
            var self=@name;
            var result=true;
            var startPicker=$('#'+self.startpickerId).data("kendoDatePicker");
            var endpicker=$('#'+self.endpickerId).data("kendoDatePicker");
            if(startPicker.value() >= endpicker.value()){
                $('#'+self.errorId).html('结束时间必须大于开始时间').show();
                $('#'+self.submitId).addClass('disabled');
                result=false;
                d.resolve(result);
            }else{
                $.ajax({
                    type:'GET',
                    url:'@Url.Action("validateauction", "ajaxservice")',
                    data:{
                        id:self.mediaId,
                        startTime:$('#'+self.startpickerId).val(),
                        endTime:$('#'+self.endpickerId).val()
                    },
                    success:function(res){
                        if(res){
                            $('#'+self.errorId).html('').hide();
                            $('#'+self.submitId).removeClass('disabled');
                        }else{
                            $('#'+self.errorId).html('当前时间段有交叉冲突').show();
                            $('#'+self.submitId).addClass('disabled');
                            result=false;
                        }
                        d.resolve(result);
                    }
                })
            }
            return d.promise();
        },
        removeAuction:function(e){
            var $target=$(e.target);
            if(!$target.is('span')){
                $target=$target.parent();
            }
            var id=$target.data('id');
            var mediaId=$target.data('mediaid');
            $.ajax({
                type:'POST',
                url:'@Url.Action("DeleteAuctionCalendar", "outdoor")',
                data:{
                    mediaid:mediaId,
                    id:id
                },
                success:function(res){
                    if(res){
                        $('[data-id="'+id+'"]').remove();
                    }
                }
            
            })
        },
        addAuction:function(){
            var self=@name;
            self.validateAuction()
                .done(function(result){
                    if(result){
                        $.ajax({
                            type:'POST',
                            url:'@Url.Action("AddAuctionCalendar", "outdoor")',
                            data:{
                                id:self.mediaId,
                                startTime:$('#'+self.startpickerId).val(),
                                endTime:$('#'+self.endpickerId).val()
                            },
                            success:function(res){
                                if(res[0]&&res[0].MediaID&&res[0].MediaID!=0){
                                    $.each(res,function(index,item){
                                        self.graphAuction(item);
                                    });
                                }
                            }
                        })
                    }
                });
        },
        graphAuction:function(auctionitem){
            var self=@name;
            var $container=$('.form-auctioncalendar-top');
            if(!auctionitem.Top){
                $container=$('.form-auctioncalendar-bottom');
            }
            var $auction=$('<span></span>')
               .css({
                   width:(auctionitem.Width/3.65)+'%',
                   left:(auctionitem.Left/3.65)+'%',
                   cursor:'pointer'
               }).attr('title',auctionitem.StartTime+' 至 '+auctionitem.EndTime+'日不可售，点击可删除')
            .attr('data-mediaid',auctionitem.MediaID)
            .attr('data-id',auctionitem.ID)
            .click(self.removeAuction);
    
            var $auction_left=$('<strong></strong>').addClass('form-auctioncalendar-left').html(auctionitem.StartDate);
            var $auction_right=$('<strong></strong>').addClass('form-auctioncalendar-right').html(auctionitem.EndDate);
            if(auctionitem.HasTwo){
                if(auctionitem.ShowLeft){
                    $auction_left.appendTo($auction);
                    $auction.css({
                        right:0,
                        width:'initial'
                    });
                }else{
                    $auction_right.appendTo($auction);
                }
            }else{
                $auction_left.appendTo($auction);
                $auction_right.appendTo($auction);
            }
            $container.append($auction);

        },
        binding:function(){
            var self=@name;
            $('#'+self.submitId).on('click',self.addAuction);
            $.ajax({
                type:'GET',
                url:'@Url.Action("GetAuctionCalendar", "outdoor")',
                data:{
                    id:self.mediaId
                },
                success:function(res){
                    if(res.length>0){
                        $.each(res,function(index,item){
                            self.graphAuction(item);
                        })
                    }
                }
            })
        }
    }
    $(function(){
        @(name + ".binding();")
    })

</script>
