@model  string
@{
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var displayname = ViewData.ModelMetadata.DisplayName;
    List<SelectListItem> renderList = new List<SelectListItem>();
    renderList = (List<SelectListItem>)ViewData["Data_" + name];
}


@Html.Kendo().Window().Name(name + "_window").Title("请选择" + displayname).Content(
    @<text>
<div class="k-window-checklist">
    @for (int i = 0; i < renderList.Count; i++)
    {
        <label for="@(name + "_check" + i.ToString())" data-for="@name" >
            <input type="checkbox" id="@(name + "_check" + i.ToString())" name="@Html.Raw(name + "_check")" value="@renderList[i].Value" data-text="@renderList[i].Text" checked="@renderList[i].Selected" />
            @renderList[i].Text</label>
    }
</div>
<div class="k-window-footer">
    <button type="button" id="@Html.Raw(name + "_save")" class="k-button" ><span class="k-icon k-i-tick"></span>确认</button>
</div>
</text>
).Draggable(true).Width(600).Height(400).Modal(true).Visible(false)

<input type="text" disabled="disabled" class="k-textbox single-line text-box" id="@Html.Raw(name + "_text")" title="" />
@Html.TextBoxFor(m => m, new { tabindex = -1, @class = "k-valid-text" })
<button type="button" id="@Html.Raw(name + "_select")" class="k-button" ><span class="k-icon k-add"></span>选择</button>

<script type="text/javascript">

    var @name={
        id:'@name',
        checkid:'@Html.Raw(name + "_check")',
        textid:'@Html.Raw(name + "_text")',
        selectid:'@Html.Raw(name + "_select")',
        windowid:'@Html.Raw(name + "_window")',
        saveid:'@Html.Raw(name + "_save")',
        binding:function(){
            var self=@name;
            self.setValue();
            $('#'+self.selectid).on('click',function(){
                $("#"+self.windowid).data("kendoWindow").center().open();
            })
            $('#'+self.saveid).on('click',self.saveData)

        },
        saveData:function(){
            var self=@name;
            self.setValue();
            $('#'+self.id).parents('form:first').validate().element('#'+self.id);
            $('#'+self.windowid).data("kendoWindow").close();
        },
        setValue:function(){
            var self=@name;
            var selectText=$.map($('[name="'+self.checkid+'"]:checked'),function(item){ return $(item).data('text')}).join(',');
            $('#'+self.textid).val(selectText);
            $('#'+self.textid).attr('title',selectText);
            var selectValus=$.map($('[name="'+self.checkid+'"]:checked'),function(item){ return $(item).val()}).join(',');
            $('#'+self.id).val(selectValus);
        }
    };
    $(function(){
        @Html.Raw(name + ".binding();")
    });
</script>
