@model  string

@{
    var name = ViewData.TemplateInfo.GetFullHtmlFieldName("");
    var orgUrl = Url.Content("~/Content/noimages.gif");
}

<div class="img-box">
    <img src="@orgUrl" id="@(name + "_img")" />
</div>

@(Html.Kendo().Upload()
    .Name("attachments")
    .Multiple(false)
    .Async(a => a
            .Save("UpLoadSave", "AjaxService")
            .Remove("UpLoadRemove", "AjaxService")
            .AutoUpload(true)
        )
            .Events(events => events
                .Error(name + ".onError")
                .Remove(name + ".onRemove")
                .Success(name + ".onSuccess")
                .Upload(name + ".onUpload")
            )

    )
@Html.TextBoxFor(m => m, new { tabindex = -1, @class = "k-valid-text", value = orgUrl })

<script type="text/javascript">

    var @name={
        id:'@name',
        binding:function(imgurl){
            var _imgurl='@(String.IsNullOrEmpty(Model) ? orgUrl : Model)';
            if(imgurl){
                _imgurl=imgurl;
            }
            var imgId='@(name + "_img")';
            var id='@name';
            $("#"+imgId).attr("src", _imgurl);
            $("#"+id).val(_imgurl);
        },
        onError:function(e){
        
        },
        onRemove:function(e){
            var self=@name;
            var orgUrl='@orgUrl';
            self.binding(orgUrl);
            return false;
        },
        onSuccess:function(e){
            var self=@name;
            var resData = e.response;
            if (resData.err === ''&&resData.status==='upload') {
                self.binding(resData.imgurl);
                self.hideUploadSuccess();
            }
            else {
                if(resData.err===''&&resData.status==='remove'){
                    return ;
                }else{
                    alert(resData.err);
                }
            }
        },
        onUpload:function(e){
            var files = e.files;
            $.each(files, function () {
                if (".gif.jpg.jpeg.bmp.png".indexOf(this.extension.toLowerCase()) == -1) {
                    alert("请上传.gif.jpg.jpeg.bmp.png的图片文件！")
                    e.preventDefault();
                    return false;
                }
            });
        },
        hideUploadSuccess:function(){
            var self=@name;
            $('#'+self.id).parent('.form-field').find('.k-success').parents('li').hide();
            if($('#'+self.id).parent('.form-field').find('.k-loading').length===0){
                $('#'+self.id).parent('.form-field').find('.k-upload-files').hide();
            }else{
                $('#'+self.id).parent('.form-field').find('.k-upload-files').show();
            }
        },
        getFileInfo:function (e) {
            return $.map(e.files, function (file) {
                var info = file.name;
                return info;
            }).join(", ");
        }
    }
    $(function(){
        @(name + ".binding();")
    })
</script>
