@model OpenBizModel
@{
    ViewBag.Title = "开通商务交易功能";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section topscripts{
    @Styles.Render("~/Content/kendo/2012.3.1114/css")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
    <style type="text/css">
        .register .main {
            position: relative;
        }

        .register .content {
            width: 100%;
        }

            .register .content .n_form {
                width: 100%;
            }

        .n_form_step {
            padding-left: 40px;
            margin: 20px 0;
        }

        .form-field textarea {
            font-size: 1em;
            height: 125px;
            padding-top: 5px;
        }


        .form-field-validatecode input.single-line {
            width: 50px;
        }

        .item_r {
            top: 125px;
        }

        .form-field .text-box {
            width: 250px;
        }

        .form-field-city .k-dropdown {
            width: 125px;
        }

        .form-field-uploadlogo .img-box {
            display: inline-block;
            vertical-align: middle;
        }

            .form-field-uploadlogo .img-box img {
                width: 198px;
                height: 198px;
                border: 1px solid #bbb;
            }

        .form-field-uploadlogo .k-upload {
            margin-left: 133px;
        }

        .field-prompt-message {
            display: block;
            margin-left: 135px;
            color: #999;
        }

        .img-box-list {
            margin-left: 135px;
        }
    </style>
}

<div class="register">
    <div class="main">
        <div class="sub">
            <h6>
                <span>开通商务交易功能</span></h6>
        </div>
        <div class="content">
            <div class="n_form">

                <span class="c_gray ml60">填写以下信息，即可使用国内最大的户外广告全产业链商务交易平台，即可获得<em class="s_icon s_icon_money"></em><strong class="c_red">+10</strong>个广知币。
              ( 已有帐号？请 <a href="@Url.Action("login")">登录</a> 后开通商务交易功能 )</span>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-success mr20">
                            同意服务协议，提交注册</button>已有账号？<a href="@Url.Action("login")">请登录</a>
                    </div>
                    <div class="form-field form-field-submit">
                        <a href="@Url.Action("index", "help", new { id = 5 })" target="_blank">查看《广知网网站服务条款》</a>
                        <div class="clearfix height20"></div>
                    </div>
                }
            </div>
        </div>
        <div class="item_r c_gray">
            <h3>成功认证将获得：</h3>
            <ul class="dot_list ml10">
                <li>获得信誉值 <em class="s_icon s_icon_money"></em><strong class="c_red">+10</strong> ，<a href="@Url.Action("index", "help", new { id = 3 })">什么是信誉值?</a></li>
                <li>发布的信息将更靠前</li>
                <li>更多搜索收录</li>
                <li>发布的信息的条目更多</li>
                <li>更大的图片空间</li>
            </ul>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
