@model BizAuthModel
@{
    ViewBag.Title = "企业认证信息";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section topscripts{
    @Styles.Render("~/Content/kendo/2012.3.1114/css")
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
    <style type="text/css">
        .form-field .text-box {
            width: 250px;
        }

        .form-field-city .k-dropdown {
            width: 125px;
        }

        .form-field-uploadlogo .img-box {
            display: inline-block;
            vertical-align: middle;
        }

            .form-field-uploadlogo .img-box img {
                width: 198px;
                height: 198px;
                border: 1px solid #bbb;
            }

        .form-field-uploadlogo .k-upload {
            margin-left: 133px;
        }

        .field-prompt-message {
            display: block;
            margin-left: 135px;
            color: #999;
        }

        .form-field textarea {
            font-size: 1em;
            height: 125px;
            padding-top: 5px;
        }

        .img-box-list {
            margin-left: 135px;
        }
    </style>
}


<div class="top-tips">
    <em class="top-tips-success"></em>
    <div>
        <span class="top-tips-title">
            <strong>恭喜</strong>，您已成功注册成为广知网企业会员，获得奖励 <em class="s_icon s_icon_money"></em><strong class="c_red">+1</strong> 个广知币</span>
    </div>
    <br>
    <div class="top-tips-next">
        <span>完善下面信息，可以进行企业认证，认证成功后即可获得 <em class="s_icon s_icon_money"></em><strong class="c_red">+3</strong> 个广知币</span>&nbsp;&nbsp;<a href="@Url.Action("activeemail")">以后再填，先不要币了。</a>
    </div>
</div>
<div class="register">
    <div class="main">
        <div class="sub">
            <h6>
                <span>完善认证信息</span></h6>
        </div>
        <div class="content">
            <div class="n_form ">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-success mr20">
                            填好了，提交注册</button><a href="@Url.Action("ActiveEmail")">跳过此步，需要的时候再填</a>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
