@using PagedList;
@using PagedList.Mvc;

@model CompanyShopCredentialsViewModel
@{
    ViewBag.Title = Model.Name + "-相关证书";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}
<div class="company-brand">
    <img src="@Model.Banner" />
</div>
<nav class="company-nav clearfix">
    <ul>
        <li><a href="@Url.Action("index", new { id = Model.MemberID })" ><span>公司首页</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("intro", new { id = Model.MemberID })"><span>公司简介</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("source", new { id = Model.MemberID })"><span>广告资源</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("notice", new { id = Model.MemberID })"><span>公司公告</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("contact", new { id = Model.MemberID })" ><span>联系方式</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("credentials", new { id = Model.MemberID })" class="selected"><span>相关证书</span></a></li>
        <li>| </li>
        <li><a href="@Url.Action("message", new { id = Model.MemberID })"><span>留言联系</span></a></li>
    </ul>
</nav>

<div class="bread-container">
    <div class="company-bread">
        <a class="company-bread-home" href="@Url.Action("index", "home", new { province = CookieHelper.Province })"></a>&gt;
    <a href="@Url.Action("index", new { id = Model.MemberID })">@Model.Name</a>&gt;
    <strong>相关证书</strong>
    </div>
</div>

<div class="company-container clearfix">
    <div class="company-left">
        <div class="company-intro clearfix">
            <div class="intro-head clearfix">
                <div class="head-left">
                    <h1>@Model.Name</h1>
                </div>
                <div class="head-right">
                    <img src="~/Content/images/company/companyauth.jpg" title="企业通过验证" />
                    <img src="~/Content/images/company/companyvip.jpg" title="广知网VIP" />
                </div>
            </div>
            <div class="intro-main clearfix">

                <div class="intro-desc">
                    <div class="intro-logo">
                        <img src="@Model.Logo" />
                    </div>
                    @(Model.Description.Length > 200 ? Model.Description.Substring(0, 200) + "..." : Model.Description)[<a href="@Url.Action("intro", new { id = Model.MemberID })" class="z_f2">详细</a>]
            <br />
                    <strong>公司地址</strong>：@Model.Addresss
                </div>
            </div>
        </div>
        <div class="company-source">
            <div class="source-title">
                <div class="title-left">
                    <h3>@(Model.Name)-相关证书</h3>
                </div>
                <div class="title-right">共<a href="@Url.Action("credentials", new { id = Model.MemberID })" target="_blank"> <strong class="c_red">@Model.SourceCount</strong> </a>个</div>
            </div>
            <div class="source-list">
                @foreach (var item in Model.CompanyCredentials)
                { 
                    <div class="credentials-item">
                        <a target="_blank" href="@UIHelper.GetImgUrl(item.ImgUrl, ImgUrlType.Small)">
                            <img src="@UIHelper.GetImgUrl(item.ImgUrl, ImgUrlType.Img120)"></a>
                        <p>@item.Name</p>
                    </div>
                }

                @Html.MaitonnPage(new PagingInfo()
           {
               CurrentPage = Model.CompanyCredentials.PageNumber,
               TotalItems = Model.CompanyCredentials.TotalItemCount,
               ItemsPerPage = Model.CompanyCredentials.PageSize
           })
                @*    @Html.PagedListPager(Model.CompanyCredentials, page => Url.Action("credentials", new { page = page, c = ViewBag.Category, cc = ViewBag.ChildCategory }), PagedListRenderOptions.ClassicPlusFirstAndLast)*@
            </div>
        </div>
    </div>
    <div class="company-right">
        <div class="company-category company-box">
            <div class="box-title">
                <h2>广告资源分类</h2>
                <span>
                    <a href="@Url.Action("source", new { id = Model.MemberID })">查看全部</a></span>
            </div>
            <div class="box-content">
                @foreach (var item in Model.CompanyCategory)
                {
                    <div class="category-parent"><a href="@Url.Action("source", new { id = Model.MemberID, c = item.ID })">@item.Name</a></div>
                    <div class="category-list">
                        <ul>
                            @foreach (var childitem in item.Childrens)
                            {
                                <li><a href="@Url.Action("source", new { id = Model.MemberID, c = item.ID, cc = childitem.ID })">@childitem.Name</a> (@childitem.Count)</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
        <span class="separate-line"></span>
        <div class="gray-box company-box">
            <div class="box-title">
                <h2>该公司其他户外信息</h2>
            </div>
            <div class="gray-list ajax-content" data-url="@Url.Action("getMemberMedia", "ajaxcontent", new { id = Model.MemberID })">
                <div class="gary-loadding">
                    <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                </div>
            </div>
        </div>
    </div>
</div>
