@model ListViewModel
@{
    ViewBag.Title = "广知户外媒体网-最大的户外媒体运营平台|户外广告|户外广告网|户外广告招商|户外广告发布|户外资源发布|户外媒介发布|户外传媒平台|户外媒体代理|媒体资源运营|媒体信息运营|户外媒体信息发布|媒体资源发布平台-www.dotaeye.com";
    ViewBag.Keywords = "媒体资源,户外广告信息,户外媒介发布,户外传媒平台,户外资源发布,户外媒体信息发布,媒体资源发布平台,媒体资源运营,媒体信息运营,户外广告网,户外广告招商,户外媒体代理,户外广告发布";
    ViewBag.Description = "鹰目户外媒体网，最大的户外媒体运营平台：户外广告网、户外广告招商、户外广告发布、户外资源发布、户外媒介发布、户外传媒平台、户外媒体代理、媒体资源运营、媒体信息运营、户外媒体信息发布、媒体资源发布平台。";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@Html.Action("city", "home", new { province = Model.Province })
@Html.Partial("_TopListMenuHome", Model.ListMenu)
<div class="nav-bread">
    @for (var i = 0; i < Model.Braed.Items.Count; i++)
    {
        var item = Model.Braed.Items[i];
        if (i == 0)
        {
        <text>
        <a class="nav-bread-home" href="@item.Url"></a>&gt;
      </text>
        }
        else
        {
            if (i == Model.Braed.Items.Count - 1)
            {
        <strong>@item.Name</strong>
            }
            else
            {
        <text>
        <a href="@item.Url">@item.Name</a> &gt;
    </text>
            }
        }
    }

</div>
<article class="list-wrap clearfix">
    <section class="list-left">
        <dl class="list-left-category">
            @for (int i = 0; i < Model.ListMenu.Items.Count; i++)
            {
                var item = Model.ListMenu.Items[i];
                <dt class="clearfix">
                    <a class="list-category@(i)" href="@item.Category.Url">@item.Category.Name</a>
                    <span class="list-category-arrow" @(!item.Category.Selected ? "" : "style=display:none") ></span></dt>
                <dd @(item.Category.Selected ? "" : "style=display:none")>
                    @foreach (var childItem in item.ChildCategories)
                    { 
                        <span @(childItem.Selected ? "class=active" : "") ><a href="@childItem.Url">@childItem.Name</a></span>
                    }
                </dd>
            }
        </dl>
        <script type="text/javascript">
            $(function() {
                $('.list-category-arrow').click(function() {
                    $('.list-category-arrow').show();
                    $(this).hide().parent().next().show().siblings('dd').hide();
                })
            })
        </script>
        <div class="list-gray-box">
            <h4>@Model.HotList.Name</h4>
            <ul class="list-gray-view">
                @for (var i = 0; i < Model.HotList.Items.Count; i++)
                {
                    var item = Model.HotList.Items[i];
                    <li class="clearfix @((i == Model.HotList.Items.Count - 1) ? "list-gray-last" : "")">
                        <a href="/product/@(item.ID).html" target="_blank" class="list-gray-img" >
                            <img width="100" height="100" border="0" src="@item.ImgUrl" alt="@item.Name"></a>
                        <p class="list-gray-desc">
                            @*  <strong class="c_ba2636">44%</strong><strong>会买：</strong>*@
                            <a class="list-gray-title" target="_blank" title="@item.Name" href="/product/@(item.ID).html">@item.Name</a>
                        </p>
                        <p class="list-gray-price"><strong>¥@item.Price </strong>万元/年</p>
                        <p class="list-gray-city">
                            @item.Province - @item.City
                        </p>
                        @*  <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>*@
                    </li>
                }
            </ul>
        </div>
        <div class="list-gray-box ">
            <h4>@Model.SuggestList.Name</h4>
            <ul class="list-gray-view ">

                @for (var i = 0; i < Model.SuggestList.Items.Count; i++)
                {
                    var item = Model.SuggestList.Items[i];
                    <li class="clearfix @((i == Model.SuggestList.Items.Count - 1) ? "list-gray-last" : "")">
                        <a href="/product/@(item.ID).html" target="_blank" class="list-gray-img" >
                            <img width="100" height="100" border="0" src="@item.ImgUrl" alt="@item.Name"></a>
                        <p class="list-gray-desc">
                            @*  <strong class="c_ba2636">44%</strong><strong>会买：</strong>*@
                            <a class="list-gray-title" target="_blank" title="@item.Name" href="/product/@(item.ID).html">@item.Name</a>
                        </p>
                        <p class="list-gray-price"><strong>¥@item.Price </strong>万元/年</p>
                        <p class="list-gray-city">
                            @item.Province - @item.City
                        </p>
                        @*  <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>*@
                    </li>
                }
            </ul>
        </div>
        <div class="list-gray-box">
            <h4>推荐公司</h4>
            @for (var i = 0; i < Model.CompanyList.Items.Count; i++)
            {
                var item = Model.CompanyList.Items[i];
                <table align="center" cellpadding="0" cellspacing="0" border="0" width="246" class="list-gray-table">
                    <tbody>
                        <tr>
                            <td class="fs14 ff_yh" align="center" width="25"><em>@(i + 1)</em></td>
                            <td align="left" width="120"><a target="_blank" href="@item.Url">
                                <img src="@item.ImgUrl" alt="@item.Name"  width="110" height="60" border="0"></a></td>
                            <td align="left"><a target="_blank" href="@item.Url">@item.Name</a></td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </section>
    <section class="list-right">
        <div class="list-right-wrap clearfix">
            <div class="list-right-attr clearfix">
                @foreach (var item in Model.Search.items)
                {
                    var searchlist = item.ChildCategories;
                    if (searchlist.Any())
                    {
                    <div class="list-right-attr-bread clearfix">
                        <div class="list-right-attr-title">@item.Category.Name：</div>
                        <div class="list-right-attr-all">
                            <a hidefocus="true" target="_self" class="@(searchlist.Any(x => x.Selected == true) ? "" : "selected")"  href="@item.Category.Url">不限</a>
                        </div>
                        <ul class="list-right-attr-list clearfix">
                            @foreach (var childitem in searchlist)
                            {
                                <li class="@(childitem.Selected ? "selected" : "")">
                                    <span>
                                        <a hidefocus="true"  href="@(childitem.Selected ? item.Category.Url : childitem.Url)">@childitem.Name</a>
                                        @if (childitem.Selected)
                                        { 
                                        
                                            <a hidefocus="true" class="delete"  href="@item.Category.Url">×</a>
                                        }
                                    </span>
                                </li>
                            }
                        </ul>
                        <span class="list-right-attr-more" style="display: none">更多</span>
                        <span class="list-right-attr-little" style="display: none">收起</span>
                    </div>
                    }
                }

            </div>
        </div>
        <script type="text/javascript">
            $(function() {

                $.each($(".list-right-attr-list"), function(index, item) {
                    if ($(item).height() > 58) {
                        $(item).height(58);
                        $(item).next(".list-right-attr-more").show();
                    }
                });

                $(".list-right-attr-more").click(function() {
                    $(this).siblings(".list-right-attr-list").height("auto");
                    $(this).hide();
                    $(this).next().show();
                })

                $(".list-right-attr-little").click(function() {
                    $(this).siblings(".list-right-attr-list").height(58);
                    $(this).hide();
                    $(this).prev().show();
                })
            })

        </script>
        <div class="list-filter clearfix">
            <div class="list-filter-top scroll-fixed clearfix">
                <a hidefocus="true" class="list-filter-sort list-filter-up" href="http://baojian.163.com/products/1-11-0-0-0-0-0-2-0-0-1.html">价格</a>
                <a hidefocus="true" class="list-filter-sort list-filter-down mr10" href="http://baojian.163.com/products/1-11-0-0-0-0-0-3-0-0-1.html">价格</a>
                <div class="list-filter-price">
                    <span class="list-filter-price-text">价格区间</span>
                    <ul class="list-filter-price-list">
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html">价格区间</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-1-0-0-0-1.html">0~99元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-2-0-0-0-1.html">100~199元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-3-0-0-0-1.html">200~300元</a></li>
                        <li><a href="http://baojian.163.com/products/1-11-0-0-0-0-4-0-0-0-1.html">300以上</a></li>
                    </ul>
                </div>
                <div class="list-filter-search">
                    <span class="list-filter-search-text">关键字：</span>
                    <input type="text" id="query" name="query" class="list-filter-search-query" />
                    <button type="button" class="btn btn-warning" id="querybtn">
                        <i class="icon-search icon-white mr5"></i>搜索</button>

                </div>
                <script type="text/javascript">
                    $(function() {
                        $("#querybtn").click(function() {
                            if ($("#query").val() == "") {
                                alert("请输入关键字！");
                                return false;
                            } else {
                                window.location.href = window.location.origin + window.location.pathname + "?query=" + encodeURIComponent($("#query").val());
                            }
                        })
                    })
                </script>
                <div class="list-filter-page-number">共&nbsp;<strong class="c_ba2636">@Model.Result.TotalCount</strong>&nbsp;条</div>
            </div>
            <div class="list-filter-bottom clearfix">
                <div class="list-filter-menu">
                    <label>
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-1-0-1.html">证书认证</label>
                    <label class="ml10">
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-1-1.html">广知通会员</label>
                </div>
            </div>
        </div>
        <div class="list-products clearfix">

            @foreach (var item in Model.Result.Items)
            {
                <div class="list-products-item">
                    <a class="list-products-item-img" target="_blank" href="@Url.Action("index", "show", new { id = item.ID })" >
                        <img width="220" height="220" border="0" src="@item.ImgUrl" alt="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))" title="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))">
                        <span class="actNewIcon actIcon01"></span>
                    </a>
                    <p class="list-products-item-desc"><a target="_blank" href="@Url.Action("index", "show", new { id = item.ID })" title="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))">@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))</a></p>
                    <p class="list-products-item-price"><strong class="fs14">¥@item.Price</strong>万元/年</p>
                    <p class="list-products-item-title">
                        @item.ProvinceName - @item.CityName
                    </p>
                    <p class="list-products-item-comment">
                        <a target="_blank" href="@Url.Action("index", "list", new { province = CookieHelper.Province, mediacode = item.ParentMediaCateCode, childmediacode = item.MediaCateCode })">@item.ParentMediaCateName - @item.MediaCateName</a>&nbsp;&nbsp;
                    </p>
                    <p class="list-products-item-title">@item.FormatCateName
                        <span title="最短投放@(item.PeriodCateName)">@item.PeriodCateName</span>
                    </p>
                    <a href="#Core.onCartIconClick:1661" hidefocus="true" class="list-products-item-car" title="添加到购物车"></a>
                </div>
            }

        </div>
        <div id="list-page">
            <div id="list-page-nva">
                <div class="list-page-split">
                    <span class="prev">上一页<i></i></span>
                    <span>1</span><a href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">2</a>
                    <a class="next" href="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-2.html">下一页<i></i></a>
                    <span class="list-page-tip">到第</span>
                    <input class="list-page-jump" tmpl="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html" type="text" value="1">
                    <span class="list-page-tip">页</span><a class="list-page-btn" href="javascript:">确定</a>
                </div>
                <input type="hidden" id="pageJumpUrl" total="2" value="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-{p}.html">
            </div>
        </div>
    </section>
</article>
