@{
    ViewBag.Title = "广知户外媒体网-最大的户外媒体运营平台|户外广告|户外广告网|户外广告招商|户外广告发布|户外资源发布|户外媒介发布|户外传媒平台|户外媒体代理|媒体资源运营|媒体信息运营|户外媒体信息发布|媒体资源发布平台-www.dotaeye.com";
    ViewBag.Keywords = "媒体资源,户外广告信息,户外媒介发布,户外传媒平台,户外资源发布,户外媒体信息发布,媒体资源发布平台,媒体资源运营,媒体信息运营,户外广告网,户外广告招商,户外媒体代理,户外广告发布";
    ViewBag.Description = "鹰目户外媒体网，最大的户外媒体运营平台：户外广告网、户外广告招商、户外广告发布、户外资源发布、户外媒介发布、户外传媒平台、户外媒体代理、媒体资源运营、媒体信息运营、户外媒体信息发布、媒体资源发布平台。";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var PriceListFilter = (List<HttpLinkItem>)ViewBag.PriceListFilter;
    var Result = (ListSource)ViewBag.Result;
}
@Html.Action("city", "home", new { province = CookieHelper.Province })

@Html.Partial("_TopMenu", (List<HttpLinkGroup>)ViewBag.LeftMenu)

@Html.Partial("_Bread", (List<HttpLinkItem>)ViewBag.Bread)

<article class="list-wrap clearfix">
    <section class="list-left">
        @Html.Partial("_LeftMenu", (List<HttpLinkGroup>)ViewBag.LeftMenu)
    </section>
    <section class="list-right">
        @Html.Partial("_RightSearch", (List<HttpLinkGroup>)ViewBag.Search)
        <div class="list-filter clearfix">
            <div class="list-filter-top scroll-fixed clearfix">
                <a  class="list-filter-sort list-filter-default @(ViewBag.isSortDefault ? "selected" : "") mr10 " href="@ViewBag.DefaultOrderUrl">默认</a>
                <a  class="list-filter-sort list-filter-up @(ViewBag.isSortPriceAsc ? "selected" : "")" href="@ViewBag.PriceOrderAscUrl">价格</a>
                <a  class="list-filter-sort list-filter-down @(ViewBag.isSortPriceDesc ? "selected" : "") mr10" href="@ViewBag.PriceOrderDescUrl">价格</a>
                <div class="list-filter-price">
                    <span class="list-filter-price-text">@PriceListFilter.Single(x=>x.Selected.Equals(true)).Name</span>
                    <ul class="list-filter-price-list">
                        @foreach (var item in PriceListFilter)
                        {
                            <li><a class="@(item.Selected ? "selected" : "")" href="@item.Url">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="list-filter-search">
                    <span class="list-filter-search-text">关键字：</span>
                    <input type="text" id="query" name="query" class="list-filter-search-query" value="@ViewBag.Result.Querywords" />
                    <button type="button" class="btn btn-warning" id="querybtn">
                        <i class="icon-search icon-white mr5"></i>搜索</button>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $("#querybtn").click(function() {
                            window.location.href = window.location.origin + window.location.pathname.replace(/p_(\d+)/, 'p_1') + "?query=" + encodeURIComponent($("#query").val());
                        });
                        $('#query').keydown(function(e) {
                            if (e.keyCode == 13) {
                                $("#querybtn").click();
                            }
                        });
                        $('.list-filter-price').hover(function() {
                            $(this).children("ul").show();
                        }, function() {
                            $(this).children("ul").hide();
                        })
                    })
                </script>
                <div class="list-filter-page-number">共&nbsp;<strong class="c_ba2636">@ViewBag.Result.TotalCount</strong>&nbsp;条</div>
            </div>
            <div class="list-filter-bottom clearfix">
                <div class="list-filter-menu">
                    <label>
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-1-0-1.html">证书认证</label>
                    <label class="ml10">
                        <input type="checkbox" v0="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-0-1.html" v1="http://baojian.163.com/products/1-11-0-0-0-0-0-0-0-1-1.html">广知通会员</label>
                </div>
            </div>
        </div>
        <div class="list-products clearfix">

            @{
                var itemIndex = 1;
                
                foreach (var item in Result.Items)
                {

                <div class="list-products-item">
                    <a class="list-products-item-img" target="_blank" href="@Url.Action("index", "show", new { id = item.ID })" >
                        <img width="220" height="220" border="0" src="@item.ImgUrl" alt="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))" title="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))">
                        <span class="actNewIcon actIcon01"></span>
                    </a>
                    <p class="list-products-item-desc"><a target="_blank" href="@Url.Action("index", "show", new { id = item.ID })" title="@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))">@(item.Name + (item.Width + "米*" + item.Height + "米*" + item.TotalFaces + "面"))</a></p>
                    <p class="list-products-item-price">
                        <strong class="fs14">¥@item.Price 万元/年</strong>
                        <span class="pull-right" style="float: right;">最短投放：@(item.PeriodCateName)</span>
                    </p>
                    <p class="list-products-item-title">
                        <span class="pull-left">@item.ProvinceName - @item.CityName</span>
                        <span class="pull-right">形式：@(item.FormatCateName)</span>
                    </p>
                    <p class="list-products-item-category">
                        <a target="_blank" href="@Url.Action("index", "list", new { province = CookieHelper.Province, mediacode = item.ParentMediaCateCode, childmediacode = item.MediaCateCode })">@item.ParentMediaCateName - @item.MediaCateName</a>&nbsp;&nbsp;
                    </p>
                    <a href="#Core.onCartIconClick:1661" class="list-products-item-car" title="添加到购物车"></a>
                </div>
                
                    if (itemIndex % 3 == 0 && itemIndex < ViewBag.Result.Items.Count - 2)
                    { 
                <div class="list-grayline"></div>
                    }

                    itemIndex++;
                }
            }

        </div>
        @Html.MaitonnPage(new PagingInfo()
           {
               CurrentPage = ViewBag.Result.CurrentPage,
               ItemsPerPage = ViewBag.Result.PageSize,
               TotalItems = ViewBag.Result.TotalCount,
               ShowPageBox = true
           })
    </section>
</article>
