@{
    Layout = null;
}

@model List<HttpLinkGroup>

<nav class="top-menu">
    <div class="top-menu-tab">
        <div class="top-menu-category">
            <h2>
                <strong>全部户外分类</strong>
                <span class="top-menu-arrow top-menu-arrow-hover"></span>
            </h2>
            <ul class="top-hot-left-category top-hot-left-category2">
                @for (int i = 0; i < Model.Count; i++)
                {
                    var group = Model[i].Group;
                    <li class="child@(i) @((i == (Model.Count - 1)) ? "last" : "") clearfix">
                        <h3>
                            <a class="top-hot-left-link" href="@Url.Action("index", "list", new
                            {
                                province = CookieHelper.Province,
                                city = 0,
                                mediacode = group.ID,
                                childmediacode = 0,
                                formatcode = 0,
                                ownercode = 0,
                                periodcode = 0,
                                page = 1
                            })">@group.Name</a>
                        </h3>
                        <div class="top-hot-left-sub">
                            @foreach (var childItem in Model[i].Items)
                            { 
                                <span><a href="@Url.Action("index", "list", new
                                {
                                    province = CookieHelper.Province,
                                    city = 0,
                                    mediacode = group.ID,
                                    childmediacode = childItem.ID,
                                    formatcode = 0,
                                    ownercode = 0,
                                    periodcode = 0,
                                    page = 1

                                })">@childItem.Name</a></span>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <iframe frameborder="0" class="top-menu-frame" scrolling="no" style="height: 451px; display: none;"></iframe>
        <ul class="top-menu-list">
            <li><a href="@Url.Action("index", "home", new { province = CookieHelper.Province })">首页</a></li>
            <li><a href="@Url.Action("index", "list", new
                                   {
                                       province = CookieHelper.Province,
                                       city = 0,
                                       mediacode = 0,
                                       childmediacode = 0,
                                       formatcode = 0,
                                       ownercode = 0,
                                       periodcode = 0,
                                       page = 1
                                   })">户外资源</a></li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(function() {
        $('.top-menu-category').hover(function() {
            $(this).find('.top-menu-arrow')
                .addClass('top-menu-arrow-hover')
                .end()
                .find('.top-hot-left-category')
                .show()
                .end()
                .next('top-menu-frame').show();
        }, function() {
            $(this).find('.top-menu-arrow')
               .removeClass('top-menu-arrow-hover')
               .end()
               .find('.top-hot-left-category')
               .hide()
               .end()
               .next('top-menu-frame').hide();
        })
    })
</script>
