@{
    ViewBag.Title = "系统信息列表";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li class="selected"><a href="@Url.Action("index")"><span>系统留言</span></a></li>
                    <li><a href="@Url.Action("recive")"><span>收到的留言</span></a></li>
                    <li><a href="@Url.Action("send")"><span>发出的留言</span></a></li>
                </ul>
            </div>
            <div class="personal-form mt20">

                @(Html.Kendo().Grid<Sys_Message>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ID).Title("留言ID")
                            .Sortable(false)
                            .ClientTemplate("<input type='checkbox' name='ID_check' id='#=MediaID#_check'  class='chkbx' value='#=ID#' />")
                            .HeaderTemplate("<div style='text-align:center'><input type='checkbox' id='checkAll' onclick='Grid.checkAll(this)' title='全选'/></div>")
                            .Width(40).HtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(c => c.Title).Title("标题").Sortable(false);
                        columns.Bound(c => c.AddTime).Format("{0:yyyy-MM-dd}").Width(80).Title("添加时间");
                        columns.Command(command => command.Custom("查看详情").Click("Grid.showDetails")).Width(90).Title("查看");
                        columns.Template(@<text></text>)
                .ClientTemplate("<a class='k-button k-button-icontext ' href='javascript:void(0);' onclick='Grid.deleteSingle(this,\"#=ID#\");' ><span class='k-icon k-i-close'></span>删除</a>"
                )
                .Title("操作")
                .Width(80);
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Custom().Text("批量删除").HtmlAttributes(new { onclick = "Grid.deleteAll(this);", href = "javascript:void(0);" });
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model => model.Id(c => c.ID))
                        .Sort(sort => sort.Add(x => x.AddTime).Descending())
                        .Read(read => read.Action("SysMessage_Read", "message"))
                     )
                     .HtmlAttributes(new { style = "height:500px;" })
                    )


                @(Html.Kendo().Window().Name("Details")
                            .Title("留言信息")
                            .Visible(false)
                            .Modal(true)
                            .Draggable(true)
                            .Width(700)
                            .Height(500)
                            .Scrollable(true)
                            .Content(@<text>
                <div id="verifyLoading">
                    <img src="~/Content/images/formloading.gif" alt="loading" border="0" />
                </div>
                <iframe id="verifyContent" name="verifycontent" width="100%" height="100%" style="display: none;" marginwidth="0" marginheight="0" frameborder="0" src=""></iframe>
                </text>)
                        )
                <script type="text/javascript">
                    var Grid = {
                        id: 'Grid',
                        checkAll: function(element) {
                            var self = Grid;
                            var state = $(element).is(':checked');
                            $('[name="ID_check"]').attr('checked', state);
                        },
                        getCheckIds: function() {
                            return $.map($('[name="ID_check"]:checked'), function(item) { return $(item).val() }).join(',');
                        },
                        addSpinner: function(element) {
                            var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                            $(element).addClass('disabled');
                        },
                        removeSpinner: function(element) {
                            $(element).find('.ajax-working').remove();
                            $(element).removeClass('disabled');
                        },
                        excute: function(element, url, Ids) {
                            if ($(element).hasClass('disabled'))
                                return false;
                            var self = Grid;
                            if (Ids) {
                                self.addSpinner(element);
                                $.ajax({
                                    type: 'POST',
                                    url: url,
                                    data: { ids: Ids },
                                    success: function(res) {
                                        if (res) {
                                            var grid = $("#Grid").data("kendoGrid");
                                            grid.dataSource.read();
                                            grid.refresh();
                                        }
                                    },
                                    complete: function() {
                                        self.removeSpinner(element);
                                    }
                                })
                            } else {
                                alert('请选择要处理的信息');
                                return false;
                            }
                        },
                        deleteAll: function(element) {
                            var self = Grid;
                            var url = '@Url.Action("SysMessageDelete", "message")';
                            var Ids = self.getCheckIds();
                            self.excute(element, url, Ids);
                        },
                        deleteSingle: function(element, id) {
                            var self = Grid;
                            var url = '@Url.Action("SysMessageDelete", "message")';
                            var Ids = id;
                            self.excute(element, url, Ids);
                        },
                        showDetails: function(e) {
                            e.preventDefault();
                            $('#verifyContent').hide();
                            $('#verifyLoading').show();
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            var url = '@Url.Action("SysMessageDetails", "message")';
                            $('#verifyContent').attr('src', url + '/' + dataItem.ID);
                            var wnd = $("#Details").data("kendoWindow").center().open();
                        }
                    }
                    $(function() {
                        $('#verifyContent').load(function() {
                            $('#verifyLoading').hide();
                            $(this).show();
                        })
                    })

                </script>
            </div>
        </div>

    </div>
</article>
