@model Member_VIP
@{
    ViewBag.Title = "广知通基本信息";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>

            @if (Model != null)
            {
                <table width="100%" class="alert alert-info">
                    <tbody>
                        <tr>
                            <td width="33%">当前版本：<span class="red">@UIHelper.ServerTypeList.Single(x => x.Value == Model.VipLevel.ToString()).Text</span>
                                @if (Model.EndTime.CompareTo(DateTime.Now) < 0)
                                { 
                                    <span>（已过期）</span>
                                }

                            </td>
                            <td width="33%">到期日期：<span class="red">@Model.EndTime.ToString("yyyy-MM-dd")</span></td>
                            <td>剩余天数：<span class="red">@UIHelper.DateDiff(DateDiffType.Day, DateTime.Now, Model.EndTime)</span></td>
                        </tr>
                        <tr>
                            <td>目前广知币：<span class="red">@ViewBag.Money</span></td>

                            @if (Model.EndTime.CompareTo(DateTime.Now) > 0)
                            {
                                <td><a href="@Url.Action("paygzb")">充值广知币</a></td>
                            }
                            else
                            {
                                <td>&nbsp;</td>
                            }
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                @ViewHelpers.Alert("友情提示：",
            CookieHelper.NickName + " 你好！您当前还没有开通广知通，广知通VIP会员具有下载资料无积分限制、无冻结时间限制、充值地产币等十大独享权限。",
            Html.ActionLink("查看权益", "index", "help", new { id = 7 }, new { }), false, AlertType.info.ToString())
            }
            @if (ViewBag.Servers != null)
            {
                
                <div class="personal-body-title clearfix">
                    <h5>广知通产品</h5>
                </div>
                
                <div class="list-products clearfix">

                    @foreach (var server in (List<ServerItem>)ViewBag.Servers)
                    {
                        <div class="products-item">
                            <ul>
                                <li class="products-img">
                                    <img alt="@server.Name" title="@server.Name" src="@server.ImgUrl" >
                                </li>
                                <li class="products-details">
                                    <h3>
                                        <a target="_blank" href="@Url.Action("open", new { id = server.ID })" title="查看详细权益介绍">
                                            <strong>@server.Name</strong>
                                        </a>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <p class="products-desc">@server.Description</p>
                                    <div class="products-info clearfix">
                                        <div class="products-city">赠广知币：<b class="c_red">@server.GiftMoney </b>个</div>
                                        <div class="products-city">赠送权益：<b class="c_red">@server.GiftMonth </b>个月</div>
                                        <div class="products-company">
                                            <a href="@server.HelpUrl" title="查看详细权益介绍" target="_blank"><span>查看详细权益介绍</span></a>&nbsp;
                                        </div>
                                    </div>
                                </li>
                                <li class="products-price">
                                    <span class="c_red"><b>¥@server.Price 元</b></span><br>

                                    <a class='k-button k-button-icontext ' href='@Url.Action("open", new { id = server.ID })'  ><span class='k-icon k-i-custom'></span>立即开通</a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</article>
