@{
    ViewBag.Title = "置顶服务";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="server-status">
                @if (ViewBag.VIP != null)
                {
                    var VIP = (Member_VIP)ViewBag.VIP;
                    
                    <table width="100%" class="alert alert-info">
                        <tbody>
                            <tr>
                                <td width="33%">当前版本：<span class="red">@UIHelper.ServerTypeList.Single(x => x.Value == VIP.VipLevel.ToString()).Text</span></td>
                                <td width="33%">到期日期：<span class="red">@VIP.EndTime.ToString("yyyy-MM-dd")</span></td>
                                <td>剩余天数：<span class="red">@UIHelper.DateDiff(DateDiffType.Day, DateTime.Now, VIP.EndTime)</span></td>
                            </tr>
                            <tr>
                                <td>目前广知币：<span class="red">@ViewBag.Money</span></td>

                                @if (VIP.EndTime.CompareTo(DateTime.Now) < 0)
                                {
                                    <td colspan="2">当前权益已到期<a href="@Url.Action("open")">立即续费</a> 广知通会员充值广知币有额外赠送</td>
                                }
                                else
                                {
                                    <td colspan="2">&nbsp;</td>
                                }

                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <table width="100%" class="alert alert-info">
                        <tbody>
                            <tr>
                                <td width="33%">会员属性：<span class="red">普通会员</span></td>
                                <td width="33%">目前广知币：<span class="red">@ViewBag.Money</span></td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3">广知通会员充值广知币有额外赠送，等权益<a  href="@Url.Action("index", "help", new { id = 7 })">查看权益</a><a href="@Url.Action("open")">立即开通广知通</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                }

            </div>
            @if (ViewBag.Servers != null)
            {
                <div class="personal-body-title clearfix">
                    <h5>置顶产品</h5>
                </div>
                <div class="list-products clearfix">
                    @foreach (var server in (List<ServerItem>)ViewBag.Servers)
                    {
                        
                        <div class="products-item">
                            <ul>
                                <li class="products-img">
                                    <img alt="@server.Name" title="@server.Name" src="@server.ImgUrl" >
                                </li>
                                <li class="products-details">
                                    <h3>
                                        <a target="_blank" href="@Url.Action("open", new { id = server.ID })" title="查看详细介绍">
                                            <strong>@server.Name</strong>
                                        </a>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <p class="products-desc">@server.Description</p>
                                    <div class="products-info clearfix">
                                        <div class="products-city">普通版：<b class="c_red">@server.VipDiscount </b>折</div>
                                        <div class="products-city">黄金版：<b class="c_red">@server.VipDiscount2 </b>折</div>
                                        <div class="products-company">
                                            <a href="@server.HelpUrl" title="查看详细介绍" target="_blank"><span>查看详细介绍</span></a>&nbsp;
                                        </div>
                                    </div>
                                </li>
                                <li class="products-price">
                                    <span class="c_red"><b>¥@server.Price 元/天</b></span><br>
                                    @if (server.TopType == (int)TopType.Media)
                                    { 
                                        <a class='k-button k-button-icontext ' href='@Url.Action("topmedia", new { id = server.ID })'  ><span class='k-icon k-i-custom'></span>立即开通</a>
                                    }
                                    @if (server.TopType == (int)TopType.SliderImg)
                                    { 
                                        <a class='k-button k-button-icontext ' href='@Url.Action("topset", new { id = server.ID })'  ><span class='k-icon k-i-custom'></span>立即开通</a>
                                    }
                                    @if (server.TopType == (int)TopType.Company)
                                    { 
                                        <a class='k-button k-button-icontext ' href='@Url.Action("topcompany", new { id = server.ID })'  ><span class='k-icon k-i-custom'></span>立即开通</a>
                                    }

                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>


    </div>
</article>
