@{
    ViewBag.Title = "置顶服务";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            @Html.Partial("_VipStatus")

            @if (ViewBag.Servers != null)
            {
                <div class="personal-body-title clearfix">
                    <h5>置顶产品</h5>
                </div>
                <div class="list-products clearfix">
                    @foreach (var server in (List<ServerItem>)ViewBag.Servers)
                    {

                        var openUrl = string.Empty;
                        if (server.TopType == (int)TopType.Media)
                        {
                            openUrl = Url.Action("topmedia", new { id = server.ID });
                        }
                        if (server.TopType == (int)TopType.SliderImg)
                        {
                            openUrl = Url.Action("topset", new { id = server.ID });

                        }
                        if (server.TopType == (int)TopType.Company)
                        {
                            openUrl = Url.Action("topcompany", new { id = server.ID });

                        }
                        
                        
                        <div class="products-item">
                            <ul>
                                <li class="products-img">
                                    <img alt="@server.Name" title="@server.Name" src="@server.ImgUrl" >
                                </li>
                                <li class="products-details">
                                    <h3>
                                        <a target="_blank" href="@openUrl" title="查看详细介绍">
                                            <strong>@server.Name</strong>
                                        </a>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <p class="products-desc">@server.Description</p>
                                    <div class="products-info clearfix">
                                        <div class="products-city">普通版：<b class="c_red">@server.VipDiscount </b>折</div>
                                        <div class="products-city">黄金版：<b class="c_red">@server.VipDiscount2 </b>折</div>
                                        <div class="products-company">
                                            <a href="@server.HelpUrl" title="查看详细介绍" target="_blank"><span>查看详细介绍</span></a>&nbsp;
                                        </div>
                                    </div>
                                </li>
                                <li class="products-price">
                                    <span class="c_red"><b>¥@server.Price 元/天</b></span><br>
                                    <a class='k-button k-button-icontext ' href='@openUrl'  ><span class='k-icon k-i-custom'></span>立即开通</a>

                                </li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>


    </div>
</article>
