@model PayTopMeidaViewModel
@{
    ViewBag.Title = "置顶服务";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>
            @Html.Partial("_VipStatus")
            <div class="personal-form  personal-form-top">

                @if (ViewBag.CheckErr != null)
                {
                    var serverErr = ((ServiceResult)ViewBag.CheckErr).GetServiceErrors();
                    
                    <div class="alert  alert-error ">
                        <div class="image">
                            <img src="~/Content/images/icon/error.png" />
                        </div>
                        <div class="text">
                            <ul>
                                @foreach (var err in serverErr)
                                { 
                                    <li>@err.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                @using (Html.BeginForm())
                {
                    var server = (ServerItem)ViewBag.Server;
                    
                    @Html.AntiForgeryToken()
                    <div class="form-field">

                        @Html.EditorFor(x => x.ID)
                        @Html.ValidationMessageFor(x => x.ID)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(x => x.TopID)
                        @Html.ValidationMessageFor(x => x.TopID)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(x => x.TopName)
                        @Html.EditorFor(x => x.TopName)
                        @Html.ValidationMessageFor(x => x.TopName)
                    </div>
                    <div class="form-field form-field-strong">
                        @Html.LabelFor(x => x.Price)
                        @Html.EditorFor(x => x.Price) <span class="form-field-strong-normal"><em class="s_icon s_icon_money"></em>广知币/天</span>
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    
                    <div class="form-field form-field-strong">
                        @Html.LabelFor(x => x.Discount)
                        @Html.EditorFor(x => x.Discount)  <span class="form-field-strong-normal">折</span>
                        @Html.ValidationMessageFor(x => x.Discount)
                    </div>

                    if (!server.IsQuanGuo)
                    {
                    <div class="form-field">
                        @Html.LabelFor(x => x.ProvinceCode)
                        @Html.EditorFor(x => x.ProvinceCode)
                        @Html.ValidationMessageFor(x => x.ProvinceCode)
                    </div>
                    }

                    if (server.IsByChildCategory)
                    { 
                    <div class="form-field">
                        @Html.LabelFor(x => x.MeidaCode)
                        @Html.EditorFor(x => x.MeidaCode)
                        @Html.ValidationMessageFor(x => x.MeidaCode)
                    </div>
                    }
                    else
                    {
                        if (server.IsByCategory)
                        { 
                    <div class="form-field">
                        @Html.LabelFor(x => x.ParentMediaCode)
                        @Html.EditorFor(x => x.ParentMediaCode)
                        @Html.ValidationMessageFor(x => x.ParentMediaCode)
                    </div>
                        }
                    }
                    <div class="form-field">
                        @Html.LabelFor(x => x.MediaID)
                        @Html.EditorFor(x => x.MediaID)
                        @Html.ValidationMessageFor(x => x.MediaID)
                    </div>
                    
                    
                  
                    <div class="form-field">
                        @Html.LabelFor(x => x.TopTime)
                        @Html.EditorFor(x => x.TopTime)
                        @Html.ValidationMessageFor(x => x.TopTime)
                    </div>
                    
                    <div class="form-field">
                        <label>总价：</label>
                        <span class="form-field-totalprice">0 </span><em class="s_icon s_icon_money"></em>广知币
                    </div>
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                    
                    <script type="text/javascript">
                        $(function() {
                            $('.form-toptimes-check').click(function() {
                                var checklength = TopTime.getValue().split(',').length;
                                $('.form-field-totalprice').text($('#Discount').val() * $('#Price').val() * checklength / 10);
                            })
                        })
                    </script>
                }
            </div>

        </div>
    </div>
</article>
