@model PayTopViewModel
@{
    ViewBag.Title = "置顶服务";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="server-status">
                @if (ViewBag.VIP != null)
                {
                    var VIP = (Member_VIP)ViewBag.VIP;
                    
                    <div class="alert alert-info">
                        @CookieHelper.NickName 您好！您已开通：@UIHelper.ServerTypeList.Single(x => x.Value == VIP.VipLevel.ToString()).Text ，
                        推广折扣：@Model.Discount 折
                        到期日期：@VIP.EndTime.ToString("yyyy-MM-dd")，
                        剩余天数：@UIHelper.DateDiff(DateDiffType.Day, DateTime.Now, VIP.EndTime) 天，

                        目前广知币：<em class="s_icon s_icon_money"></em>@ViewBag.Money
                        @if (VIP.EndTime.CompareTo(DateTime.Now) < 0)
                        {
                            <text>
                            当前权益已到期 <a href="@Url.Action("open")">立即续费</a> 广知通会员充值广知币有额外赠送
                         </text>
                        }
                    </div>
                 
                }
                else
                {
                    <div class="alert alert-danger">
                        @CookieHelper.NickName 您好！您当前没有开通任何广知通产品，不能享受推广折扣。当前广知币：@ViewBag.Money <a  href="@Url.Action("index", "help", new { id = 7 })">查看广知通权益介绍</a> <a href="@Url.Action("open")">立即开通</a>
                    </div>
                }
            </div>

            <div class="personal-form  personal-form-top">

                @if (ViewBag.CheckErr != null)
                {
                    var serverErr = ((ServiceResult)ViewBag.CheckErr).GetServiceErrors();
                    
                    <div class="alert  alert-error ">
                        <div class="image">
                            <img src="~/Content/images/icon/error.png" />
                        </div>
                        <div class="text">
                            <ul>
                                @foreach (var err in serverErr)
                                { 
                                    <li>@err.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    </div>
                }
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-field">

                        @Html.EditorFor(x => x.ID)
                        @Html.ValidationMessageFor(x => x.ID)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(x => x.TopID)
                        @Html.ValidationMessageFor(x => x.TopID)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(x => x.TopName)
                        @Html.EditorFor(x => x.TopName)
                        @Html.ValidationMessageFor(x => x.TopName)
                    </div>
                    <div class="form-field form-field-strong">
                        @Html.LabelFor(x => x.Price)
                        @Html.EditorFor(x => x.Price) <span class="form-field-strong-normal"><em class="s_icon s_icon_money"></em>广知币/天</span>
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    
                    <div class="form-field  form-field-strong">
                        @Html.LabelFor(x => x.Discount)
                        @Html.EditorFor(x => x.Discount) <span class="form-field-strong-normal">折</span>
                        @Html.ValidationMessageFor(x => x.Discount)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(x => x.Name)
                        @Html.EditorFor(x => x.Name)
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                    
                    <div class="form-field form-field-sliderImg">
                        @Html.LabelFor(x => x.ImgUrl)
                        @Html.EditorFor(x => x.ImgUrl)
                        @Html.ValidationMessageFor(x => x.ImgUrl)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(x => x.LinkUrl)
                        @Html.EditorFor(x => x.LinkUrl)
                        @Html.ValidationMessageFor(x => x.LinkUrl)
                    </div>
                    <div class="form-field">
                        @Html.LabelFor(x => x.TopTime)
                        @Html.EditorFor(x => x.TopTime)
                        @Html.ValidationMessageFor(x => x.TopTime)
                    </div>
                    <div class="form-field">
                        <label>总价：</label>
                        <span class="form-field-totalprice">0</span> <em class="s_icon s_icon_money"></em>广知币
                    </div>
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                    
                    <script type="text/javascript">
                        $(function() {
                            $('.form-toptimes-check').click(function() {
                                var checklength = TopTime.getValue().split(',').length;
                                $('.form-field-totalprice').text($('#Discount').val() * $('#Price').val() * checklength / 10);
                            })
                        })
                    </script>

                }
            </div>

        </div>
    </div>
</article>
