@model AvtarModel
@{
    ViewBag.Title = "设置头像";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("baseinfo")"><span>基本信息</span></a></li>
                    <li class="selected"><a href="@Url.Action("avtar")"><span>个人头像</span></a></li>
                    <li><a href="@Url.Action("contact")"><span>联系方式</span></a></li>
                </ul>
            </div>
            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",选择真实头像更方便大家了解你。", false, AlertType.info.ToString())
            @*  <p class="personal-body-tips mt10">
                没有合适的？快来在线设计专属你的形象标识吧
            </p>*@
            @if (ViewBag.Error != null)
            { 
                @ViewHelpers.Alert("错误信息：",
                ViewBag.Error, false, AlertType.error.ToString())
            }

            <div class="personal-form personal-form-avtar">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-field">
                        @Html.LabelFor(x => x.AvtarUrl, new { @class = "form-field-lable-required" })
                        @Html.EditorFor(x => x.AvtarUrl)
                        @Html.ValidationMessageFor(x => x.AvtarUrl)
                    </div>

                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
            <div class="personal-avtar-tips mt10">
                <ul>
                    <li>· 请上传您的品牌Logo或者个人真实头像</li>
                    <li>· 请勿在形象标示上留有任何联系方式的信息</li>
                    <li>· 支持JPG格式，图片大小不超过5MB</li>
                    <li>· 请保证图片质量，分辨率至少为200*200</li>
                    <li class="personal-avtar-tips-desc mt15">· 上传遇到问题，请联系客服：400-188-6666</li>
                </ul>
            </div>
        </div>

    </div>
</article>
