@model ContactModel
@{
    ViewBag.Title = "联系方式";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("baseinfo")"><span>基本信息</span></a></li>
                    <li><a href="@Url.Action("avtar")"><span>个人头像</span></a></li>
                    <li class="selected"><a href="@Url.Action("contact")"><span>联系方式</span></a></li>
                </ul>
            </div>

            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",请填写真实的联系方式，方便大家联系您。", false, AlertType.info.ToString())

            @if (ViewBag.Error != null)
            { 
                @ViewHelpers.Alert("错误信息：",
                ViewBag.Error, false, AlertType.error.ToString())
            }
            <div class="personal-form personal-form-contact mt40">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()
                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
        </div>

    </div>
</article>
