@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Descriptions" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo/2012.3.1114/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--This bundle was moved by the Kendo UI VS Extensions for compatibility reasons-->
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/cultures/kendo.culture.zh-CHS.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryplug")
    <script src="~/Scripts/base.js"></script>
    @Html.Partial("_CommonJavascript")
    @Html.Partial("_CommonSupport")
</head>
<body>
    @Html.Partial("_NoScript")
    @Html.Partial("_TopNav")

    @RenderBody()

    @Html.Partial("_FooterHome")
    @Html.Partial("_DisplayMessage")
    @RenderSection("scripts", required: false)

    @(Html.Kendo().Window().Name("Win-PopLogin")
    .Title("登录")
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(600)
    .Height(390)
    .Scrollable(true)
    .Content(@<text>
    <input type="hidden" id="popLoginUrl" value="@Url.Action("poplogin", "login")" />
    <div id="loginLoading">
        <img src="~/Content/images/formloading.gif" alt="loading" border="0" />
    </div>
    <iframe id="loginContent" name="verifycontent" width="100%" height="100%" style="display: none;" marginwidth="0" marginheight="0" frameborder="0" src=""></iframe>
    </text>)
    )
    @MiniProfiler.RenderIncludes(position: RenderPosition.Right, showTrivial: false, showTimeWithChildren: false)

    @Html.Partial("_CommonFooterJavascript")
</body>
</html>
