@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    <!--This bundle was moved by the Kendo UI VS Extensions for compatibility reasons-->
    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div class="container">
        <div class="header" class="w800">
            <a href="http://dichan.sina.com.cn/" target="_blank" class="leftlogo" title="新浪地产网"><em>新浪地产</em></a>
            <div class="fr">
                <a href="http://www.sina.com.cn/" target="_blank" class="rightlogo mt5 mr10" title="新浪">新浪首页</a>
                <span class="cut fr mt5"></span>
                <a href="http://dichan.sina.com.cn/" target="_blank" class="fr mt5 mr10" title="新浪地产网">新浪地产网首页</a>
                <div class="clearfix"></div>
                <div class="mt10 c_gray fr">如遇注册问题请拨打 400-606-6969  提示拨号请依次选择“0”、 “7”。</div>
            </div>
        </div>
        <div class="clearfix">
        </div>

        @RenderBody()

        <div class="clearfix">
        </div>
    </div>
    <div class="footer">
        <a target="_blank" href="http://help.dichan.com">新浪地产</a>┊<a target="_blank" href="http://help.dichan.com/help.html">网站帮助</a>┊<a target="_blank" href="http://union.dichan.com">房商推广联盟</a>┊<a target="_blank" href="http://passport.dichan.com/reg">会员注册</a>┊<a target="_blank" href="http://help.dichan.com/sitemap.html">网站地图</a>┊<a target="_blank" href="http://help.dichan.com/contact.html">联系我们</a>┊<a target="_blank" href="http://www.dichan.com/">房地产网址导航</a>┊<a target="_blank" href="http://help.dichan.com/lawyer1.html">网站律师</a>┊<a target="_blank" href="http://help.dichan.com/feedback.html">意见反馈</a><br>
        <a target="_blank" href="http://bj.house.sina.com.cn/sina-leju/lj_about.html">乐居简介</a>┊<a target="_blank" href="http://bj.house.sina.com.cn/sina-leju/lj_english.html">About Leju</a>┊<a target="_blank" href="http://www.leju.com/ads/">广告服务</a>┊<a target="_blank" href="http://bj.house.sina.com.cn/sina-leju/lj_job.html">诚聘英才</a>┊<a target="_blank" href="http://www.cric.com/">中国房产信息集团</a><br>
        Copyright @@ 1996-2012 SINA Corporation, All Rights Reserved<br>
        乐居房产、家居产品用户服务、产品咨询购买、技术支持客服服务热线：400-606-6969
    </div>
    @RenderSection("scripts", required: false)

    @MiniProfiler.RenderIncludes(position: RenderPosition.Left, showTrivial: false, showTimeWithChildren: false)
</body>
</html>
