<div class="nav-body nav-top">
    <div class="nav-title">
        <em></em>
        <p class="nav-account"><a href="@Url.Action("Index", "Personal")">我的账号</a></p>
        <i></i>
    </div>
    <div class="nav-title">
        <em></em>
        <p class="nav-profile">个人资料</p>
        <i></i>
    </div>
    <ul class="menu-profile" style="display: none;">
        <li class="item-baseinfo  ">
            <p><a href="@Url.Action("BaseInfo", "Personal")">基本信息</a></p>
        </li>
        <li class="item-avtar  ">
            <p><a href="@Url.Action("Avtar", "Personal")">设置头像</a></p>
        </li>
        <li class="item-contact ">
            <p><a href="@Url.Action("Contact", "Personal")">联系方式</a></p>
        </li>
    </ul>
    <div class="nav-title">
        <em></em>
        <p class="nav-bound">安全中心</p>
        <i></i>
    </div>
    <ul class="menu-bound" style="display: none;">
        @*  <li class="item-mobile ">
            <p><a href="http://u.zhubajie.com/cert/mobile">手机绑定</a></p>
        </li>*@
        <li class="item-email ">
            <p><a href="@Url.Action("BindEmail", "Personal")">邮箱绑定</a></p>
        </li>
        <li class="item-changepwd ">
            <p><a href="@Url.Action("ChangePwd", "Personal")">修改密码</a></p>
        </li>
    </ul>

    @if (Convert.ToInt32(CookieHelper.Status) >= (int)MemberStatus.CompanyAuth)
    { 
        <div class="nav-title ">
            <em></em>
            <p class="nav-company">企业资料</p>
            <i></i>
        </div>
        <ul class="menu-company" style="display: none;">
            <li class="item-company-baseinfo">
                <p><a href="@Url.Action("index", "company")">基本信息</a></p>
            </li>
            <li class="item-company-contact">
                <p><a href="@Url.Action("contact", "company")">联系方式</a></p>
            </li>
            <li class="item-company-credentials ">
                <p><a href="@Url.Action("credentials", "company")">资质证书</a></p>
            </li>
        </ul>
        <div class="nav-title ">
            <em></em>
            <p class="nav-shop">企业商铺</p>
            <i></i>
        </div>
        <ul class="menu-shop" style="display: none;">
            <li>
                <p><a href="@Url.Action("index", "shop", new { id = CookieHelper.MemberID })" target="_blank">商铺首页</a></p>
            </li>
            <li class="item-shop-logo ">
                <p><a href="@Url.Action("logo", "company")">企业LOGO</a></p>
            </li>
            <li class="item-shop-banner ">
                <p><a href="@Url.Action("banner", "company")">商铺BANNER</a></p>
            </li>
            <li class="item-shop-notice ">
                <p><a href="@Url.Action("notice", "company")">公告管理</a></p>
            </li>
            <li class="item-shop-message ">
                <p><a href="@Url.Action("message", "company")">留言管理</a></p>
            </li>
        </ul>
        <div class="nav-title ">
            <em></em>
            <p class="nav-media">媒体信息</p>
            <i></i>
        </div>
        <ul class="menu-media" style="display: none;">
            <li class="item-media-publish ">
                <p><a href="@Url.Action("add", "outdoor")">发布信息</a></p>
            </li>
            <li class="item-media-list ">
                <p><a href="@Url.Action("index", "outdoor")">显示中信息</a></p>
            </li>
            <li class="item-media-notshow ">
                <p><a href="@Url.Action("notshow", "outdoor")">未显示信息</a></p>
            </li>
            <li class="item-media-preverify ">
                <p><a href="@Url.Action("preverify", "outdoor")">待审核信息</a></p>
            </li>
            <li class="item-media-verifyfailed ">
                <p><a href="@Url.Action("verifyfailed", "outdoor")">审核失败信息</a></p>
            </li>
            <li class="item-media-delete ">
                <p><a href="@Url.Action("delete", "outdoor")">已删除信息</a></p>
            </li>
        </ul>
    
    }
    else
    {
        <div class="nav-title ">
            <em></em>
            <p class="nav-auth"><a href="@Url.Action("openbiz", "register")">企业入驻</a></p>
            <i></i>
        </div>

    }

    <div class="nav-title ">
        <em></em>
        <p class="nav-scheme">方案管理</p>
        <i></i>
    </div>
    <ul class="menu-scheme" style="display: none;">
        <li class="item-scheme-media ">
            <p><a href="@Url.Action("index", "scheme")">方案列表</a></p>
        </li>
        <li class="item-scheme-add ">
            <p><a href="@Url.Action("add", "scheme")">添加方案</a></p>
        </li>
    </ul>

    <div class="nav-title ">
        <em></em>
        <p class="nav-favorite">收藏管理</p>
        <i></i>
    </div>
    <ul class="menu-favorite" style="display: none;">
        <li class="item-favorite-media ">
            <p><a href="@Url.Action("index", "favorite")">媒体收藏夹</a></p>
        </li>
        <li class="item-favorite-company ">
            <p><a href="@Url.Action("recive", "favorite")">企业收藏夹</a></p>
        </li>
    </ul>


    <div class="nav-title ">
        <em></em>
        <p class="nav-message">留言管理</p>
        <i></i>
    </div>
    <ul class="menu-message" style="display: none;">
        <li class="item-message-list ">
            <p><a href="@Url.Action("index", "message")">系统留言</a></p>
        </li>
        <li class="item-message-recive ">
            <p><a href="@Url.Action("recive", "message")">收到的留言</a></p>
        </li>
        <li class="item-message-send ">
            <p><a href="@Url.Action("send", "message")">发出的留言</a></p>
        </li>
    </ul>
    <div class="nav-title ">
        <em></em>
        <p class="nav-wallet">钱包管理</p>
        <i></i>
    </div>
    <ul class="menu-wallet" style="display: none;">
        <li class="item-wallet-list ">
            <p><a href="@Url.Action("index", "wallet")">消费记录</a></p>
        </li>
        <li class="item-wallet-gain ">
            <p><a href="@Url.Action("gain", "wallet")">赚币记录</a></p>
        </li>
    </ul>

    <div class="nav-title ">
        <em></em>
        <p class="nav-gztvip">增值服务</p>
        <i></i>
    </div>
    <ul class="menu-gztvip" style="display: none;">
        <li class="item-gztvip-index ">
            <p><a href="@Url.Action("index", "gztvip")">广知通服务</a></p>
        </li>
        <li class="item-gztvip-paycz ">
            <p><a href="@Url.Action("paycz", "gztvip")">广知币充值</a></p>
        </li>
        <li class="item-gztvip-paytop ">
            <p><a href="@Url.Action("paytop", "gztvip")">置顶服务</a></p>
        </li>
    </ul>



</div>

<script type="text/javascript">
    $(function() {

        var currentMenuItem = '@ViewBag.MenuItem';
        $('.nav-title').click(function() {
            var $navitem = $(this).children('p');
            if (!$navitem.children('a')[0]) {
                var menuClass = 'menu-' + $navitem.attr('class').replace('nav-', '');
                $('.nav-body').find('ul:not(".' + menuClass + '")').hide();
                $('.' + menuClass).show();
                $('.nav-current').removeClass('nav-current');
                $('.' + menuClass).prev('div').addClass('nav-current');

            }
        })
        if ($('.nav-' + currentMenuItem)[0]) {
            $('.nav-' + currentMenuItem).parent().addClass('nav-current');
        } else {

            $('.item-' + currentMenuItem).addClass('current').parents('ul').show();
            $('.item-' + currentMenuItem).parents('ul').prev('div').addClass('nav-current');
        }
    })

</script>
