@model  CompanyCredentials
@{
    ViewBag.Title = "添加企业证书";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>
            @if (ViewBag.UserStatus < (int)MemberStatus.CompanyFailed)
            {
                @ViewHelpers.Alert("友情提醒：", CookieHelper.NickName + ",请先进行企业认证.", Html.ActionLink("马上进行企业认证", "index", "company")
               , false, AlertType.info.ToString())
            }
            else
            {
                @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",请上传企业证书,方便大家了解你的企业。", false, AlertType.info.ToString())
                if (ViewBag.Error != null)
                { 
                @ViewHelpers.Alert("错误信息：",
                ViewBag.Error, false, AlertType.error.ToString())
                }
                <div class="personal-form personal-form-avtar personal-form-credentials">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.EditorForModel()
                        <div class="form-field form-field-submit c_gray">
                            <button type="submit" class="btn btn-warning ">
                                &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                        </div>
                    }
                </div>
            
            }
        </div>

    </div>
</article>
