@model AddCompanyNoticeViewModel
@{
    ViewBag.Title = "添加企业公告";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("logo")"><span>企业LOGO</span></a></li>
                    <li><a href="@Url.Action("banner")"><span>企业BANNER</span></a></li>
                    <li class="selected"><a href="@Url.Action("notice")"><span>企业公告</span></a></li>
                    <li><a href="@Url.Action("message")"><span>企业留言</span></a></li>
                </ul>
            </div>

            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",请填写企业公告。", false, AlertType.info.ToString())

            <div class="personal-form mt20">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel()

                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
        </div>
    </div>
</article>
