@model  IEnumerable<CompanyCredentials>
@{
    ViewBag.Title = "企业证书";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li><a href="@Url.Action("index")"><span>企业基本信息</span></a></li>
                    <li><a href="@Url.Action("contact")"><span>联系方式</span></a></li>
                    <li class="selected"><a href="@Url.Action("credentials")"><span>资质证书</span></a></li>
                </ul>
                <a class="btn btn-success pull-right" style="margin-top:-30px" href="@Url.Action("addcredentials")">添加证书</a>
            </div>

            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",请上传企业证书,方便大家了解你的企业。企业证书显示在商铺资质证书页面。", false, AlertType.info.ToString())

            <div class="credentials-list">
                @foreach (var item in Model)
                {
                    <div class="credentials-item">
                        <img src="@item.Url">
                        <p>@item.Name</p>
                        <div class="credentials-bar">
                            <a class="k-button k-button-icontext " href="@Url.Action("editcredentials", new { id = item.ID })"><span class="k-icon k-edit"></span>编辑</a>
                            <a class="k-button k-button-icontext " href="javascript:void(0);" onclick="Credentials.deleteSingle(this,@item.ID)"><span class="k-icon k-i-close"></span>删除</a>
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</article>
@section scripts{
    <script type="text/javascript">
        var Credentials = {
            addSpinner: function(element) {
                var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                $(element).addClass('disabled');
            },
            removeSpinner: function(element) {
                $(element).find('.ajax-working').remove();
                $(element).removeClass('disabled');
            },
            successMessage: function(message) {
                var $jsmessage = $('.jsmessage');
                $('.jsmessage-text').text(message);
                $jsmessage.show();
                $jsmessage.fadeOut(5000)
            },
            action: function(element, url, Id) {
                if ($(element).hasClass('disabled'))
                    return false;
                var self = this;
                if (Id) {
                    self.addSpinner(element);
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: { Id: Id },
                        success: function(res) {
                            if (res.Success) {
                                $(element).parents('.credentials-item').remove();
                                self.successMessage(res.Message);
                            }
                        },
                        complete: function() {
                            self.removeSpinner(element);
                        }
                    })
                } else {
                    alert('请选择要审核的公司');
                    return false;
                }
            },
            deleteSingle: function(element, id) {
                var self = this;
                var url = '@Url.Action("deletecredentials", "company")';
                self.action(element, url, id);
            }
        }
    </script>


}