@model  CompanyLogo
@{
    ViewBag.Title = "企业LOGO";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li class="selected"><a href="@Url.Action("logo")"><span>企业LOGO</span></a></li>
                    <li><a href="@Url.Action("banner")"><span>企业BANNER</span></a></li>
                    <li><a href="@Url.Action("notice")"><span>企业公告</span></a></li>
                    <li><a href="@Url.Action("message")"><span>企业留言</span></a></li>
                </ul>
            </div>

            @ViewHelpers.Alert("友情提醒：",
                CookieHelper.NickName + ",选择真实企业LOGO更方便大家了解你的企业。", false, AlertType.info.ToString())
            @*   <p class="personal-body-tips mt10">
                没有合适的？快来在线设计专属你的形象标识吧
            </p>*@

            <div class="personal-form personal-form-avtar">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-field">
                        @Html.LabelFor(x => x.LogoUrl, new { @class = "form-field-lable-required" })
                        @Html.EditorFor(x => x.LogoUrl)
                        @Html.ValidationMessageFor(x => x.LogoUrl)
                    </div>

                    <div class="form-field form-field-submit c_gray">
                        <button type="submit" class="btn btn-warning ">
                            &nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;</button>
                    </div>
                }
            </div>
            <div class="personal-avtar-tips mt10">
                <ul>
                    <li>· 请上传您的品牌Logo</li>
                    <li>· 请勿在形象标示上留有任何联系方式的信息</li>
                    <li>· 支持JPG格式，图片大小不超过5MB</li>
                    <li>· 请保证图片质量，分辨率至少为200*200</li>
                    <li class="personal-avtar-tips-desc mt15">· 上传遇到问题，请联系客服：400-188-6666</li>
                </ul>
            </div>

        </div>

    </div>
</article>
