@{
    ViewBag.Title = "企业公告";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <h5>@ViewBag.Title</h5>
            </div>

            @if (ViewBag.UserStatus < (int)MemberStatus.CompanyFailed)
            {
                @ViewHelpers.Alert("友情提醒：", CookieHelper.NickName + ",请先进行企业认证.", Html.ActionLink("马上进行企业认证", "index", "company")
               , false, AlertType.info.ToString())
            }
            else
            {
                <div class="personal-form mt20">
                    @(Html.Kendo().Grid<CompanyNoticeViewModel>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ID)
                            .Sortable(false)
                            .ClientTemplate("<input type='checkbox' name='ID_check' id='#=ID#_check'  class='chkbx' value='#=ID#' />")
                            .HeaderTemplate("<div style='text-align:center'><input type='checkbox' id='checkAll' onclick='Grid.checkAll(this)' title='全选'/></div>")
                            .Width(40).HtmlAttributes(new { style = "text-align:center" });

                        columns.Bound(c => c.Name);
                        columns.ForeignKey(c => c.Status, new SelectList((List<SelectListItem>)ViewBag.CompanyNoticeStatus, "value", "text")).Width(80);
                        columns.Bound(c => c.AddTime).Format("{0:yyyy-MM-dd}").Width(80).Title("添加时间");

                        columns.Template(@<text></text>)
                .ClientTemplate(@"<a class='k-button k-button-icontext ' href='"
                + Url.Action("editnotice", "company") + "/#=ID#'><span class='k-icon k-edit'></span>编辑</a>"
                + "<a class='k-button k-button-icontext ' href='javascript:void(0);' onclick='Grid.deleteSingle(this,\"#=ID#\");' ><span class='k-icon k-i-close'></span>删除</a>"
                + "<a class='k-button k-button-icontext ' href='javascript:void(0);' onclick='Grid.notShowSingle(this,\"#=ID#\");' ><span class='k-icon k-i-seek-s'></span>不显示</a>"
                + "<a class='k-button k-button-icontext ' href='javascript:void(0);' onclick='Grid.showSingle(this,\"#=ID#\");' ><span class='k-icon k-i-seek-n'></span>显示</a>"
                )
                .Title("操作")
                .Width(320);
                    })
                    .ToolBar(toolbar =>
                    {

                        toolbar.Custom().Text("批量不显示").HtmlAttributes(new { onclick = "Grid.notShowALL(this);", href = "javascript:void(0);" });
                        toolbar.Custom().Text("批量显示").HtmlAttributes(new { onclick = "Grid.showALL(this);", href = "javascript:void(0);" });
                        toolbar.Custom().Text("批量删除").HtmlAttributes(new { onclick = "Grid.deleteAll(this);", href = "javascript:void(0);" });
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                   .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model => model.Id(c => c.ID))
                        .Read(read => read.Action("notice_read", "company"))

                     )
                     .HtmlAttributes(new { style = "height:500px;" })
                    )

                    <script type="text/javascript">
                        var Grid = {
                            id: 'Grid',
                            checkAll: function(element) {
                                var self = Grid;
                                var state = $(element).is(':checked');
                                $('[name="ID_check"]').attr('checked', state);
                            },
                            getCheckIds: function() {
                                return $.map($('[name="ID_check"]:checked'), function(item) { return $(item).val() }).join(',');
                            },
                            addSpinner: function(element) {
                                var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                                $(element).addClass('disabled');
                            },
                            removeSpinner: function(element) {
                                $(element).find('.ajax-working').remove();
                                $(element).removeClass('disabled');
                            },
                            successMessage: function(message) {
                                var $jsmessage = $('.jsmessage');
                                $('.jsmessage-text').text(message);
                                $jsmessage.show();
                                $jsmessage.fadeOut(5000)
                            },
                            excute: function(element, url, Ids) {
                                if ($(element).hasClass('disabled'))
                                    return false;
                                var self = Grid;
                                if (Ids) {
                                    self.addSpinner(element);
                                    $.ajax({
                                        type: 'POST',
                                        url: url,
                                        data: { ids: Ids },
                                        success: function(res) {
                                            if (res.Success) {
                                                self.successMessage(res.Message);
                                                var grid = $("#Grid").data("kendoGrid");
                                                grid.dataSource.read();
                                                grid.refresh();
                                            }
                                        },
                                        complete: function() {
                                            self.removeSpinner(element);
                                        }
                                    })
                                } else {
                                    alert('请选择要处理的信息');
                                    return false;
                                }
                            },
                            notShowALL: function(element) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeNotShow", "company")';
                                var Ids = self.getCheckIds();
                                self.excute(element, url, Ids);
                            },
                            showALL: function(element) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeShow", "company")';
                                var Ids = self.getCheckIds();
                                self.excute(element, url, Ids);
                            },
                            deleteAll: function(element) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeDelete", "company")';
                                var Ids = self.getCheckIds();
                                self.excute(element, url, Ids);
                            },
                            deleteSingle: function(element, id) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeDelete", "company")';
                                var Ids = id;
                                self.excute(element, url, Ids);
                            },
                            notShowSingle: function(element, id) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeNotShow", "company")';
                                var Ids = id;
                                self.excute(element, url, Ids);
                            },
                            showSingle: function(element, id) {
                                var self = Grid;
                                var url = '@Url.Action("NoticeShow", "company")';
                                var Ids = id;
                                self.excute(element, url, Ids);
                            }
                        }

                    </script>
                </div>
            }
        </div>

    </div>
</article>
