@model List<HttpLinkItem>

<section class="slider-box">
    <ul class="slider-list">
        @for (var i = 0; i < Model.Count; i++)
        {
            var slider = Model[i];
            <li style="@((i == 0) ? "opacity:1; z-index:10" : "opacity: 0; z-index: 9")" >
                <a target="_blank" href="@slider.Url">
                    <img title="@slider.Name" alt="@slider.Name" src="@slider.ImgUrl" width="710" height="280" border="0"></a></li>
        }
    </ul>
    <div class="slider-page" style="z-index: 11">
        <div class="slider-page-box">
            <div class="slider-page-list">
                @for (int i = 1; i <= Model.Count; i++)
                {
                    <a href="#" @((i == 1) ? "class=active" : "")>@(i)</a>
                }
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $('.slider-box').slider();

    });
</script>
