@{
    Layout = null;
}

@model  ProvinceViewModel
<h1 class="hide">广知网，网络媒体我知道</h1>
<header class="top-head">
    <div class="top-head-wrap">
        <div class="top-head-logo">
            <h1>
                <a hidefocus="true" title="广知网" class="top-head-link" href="@Model.Url"></a>
                @Model.Name
            </h1>
            <div class="top-head-city">
                <a href="javascript:;" class="top-head-changcity">[切换省份]</a>
            </div>
        </div>
        @*    <div class="top-head-feature"><span>全场免运费· 100%正品· 机打发票· 厂家直供</span></div>*@
        <div class="top-head-search ">

            @{
                var baseUrl = Url.Action("index", "list", new
                                     {
                                         province = CookieHelper.Province,
                                         city = 0,
                                         mediacode = 0,
                                         childmediacode = 0,
                                         formatcode = 0,
                                         ownercode = 0,
                                         periodcode = 0,
                                         page = 1
                                     });  
                
            }

            <input class="search-text   search-text-gray" id="search-text" type="text" value="请输入搜索的关键字" maxlength="20">
            <input class="search-button" id="search-button" type="button" value="">
            <ul class="top-head-suggest" style="display: none;"></ul>
            <div class="top-head-hot-keys">
                <label>热门搜索：</label>
                <a target="_blank" href="@baseUrl?query=高速立柱">高速立柱</a>
                <a target="_blank" href="@baseUrl?query=市内巴士">市内巴士</a>
                <a target="_blank" href="@baseUrl?query=机场广告">机场广告</a>
                <a target="_blank" href="@baseUrl?query=商场">商场</a>
                <a target="_blank" href="@baseUrl?query=别墅住宅">别墅住宅</a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $("#search-button").click(function() {
                    var self = this;
                    var keywordInput = $('#search-text');
                    var keywords = keywordInput.val();
                    if (keywords === '') {
                        keywordInput.val('请输入搜索的关键字')
                        keywordInput.addClass('search-text-gray')
                        return false;
                    } else if (keywords === '请输入搜索的关键字') {
                        keywordInput.focus();
                        return false;
                    } else {
                        window.location.href = "@baseUrl?query=" + encodeURIComponent($("#search-text").val());
                    }
                });
                $('#search-text').keydown(function(e) {
                    var target = $(e.currentTarget);
                    if (target.val() === '请输入搜索的关键字') {
                        target.val('');
                        target.removeClass('search-text-gray')
                    }
                    if (e.keyCode && e.keyCode === 13) {
                        $("#search-button").click();
                        return false;
                    } else {
                        if ($(target).val().length > 20) {
                            return false;
                        }
                    }
                });

                $('#search-text').focusin(function(e) {
                    var target = $(e.currentTarget);
                    if (target.val() === '请输入搜索的关键字') {
                        target.val('');
                        target.removeClass('search-text-gray')
                    }
                    if (e.keyCode && e.keyCode === 13) {
                        $("#search-button").click();
                        return false;
                    }
                });

                $('#search-text').focusout(function(e) {
                    var target = $(e.currentTarget);
                    if (target.val() === '') {
                        target.val('请输入搜索的关键字')
                        target.addClass('search-text-gray')
                    }
                })
            })
        </script>
    </div>
</header>

@(Html.Kendo().Window().Name("ChangeProvince")
    .Title("切换城市")
    .Visible(false)
    .Modal(true)
    .Width(450)
    .Height(650)
    .Scrollable(true)
    .Content(@<text>
<div class="province-list">
    @foreach (var group in (List<HttpLinkGroup>)ViewBag.ProvinceList)
    {
        var provinces = group.Items;
        <div class="province-item">
            <label>@group.Group.Name：</label>
            @foreach (var p in provinces)
            {
                @Html.ActionLink(p.Name, "index", "changeprovince", new { province = p.ProvinceName }, new { @class = (p.ProvinceName == CookieHelper.Province) ? "selected" : "" })
            }
        </div>
    }
</div>
</text>)
)

<script type="text/javascript">
    $(function() {
        $('.top-head-city').find('a').click(function() {
            var provincewindow = $('#ChangeProvince').data("kendoWindow");
            provincewindow.center().open();
        })
    })
</script>


