@model HomeViewModel
@{
    ViewBag.Title = "广知户外媒体网-最大的户外媒体运营平台|户外广告|户外广告网|户外广告招商|户外广告发布|户外资源发布|户外媒介发布|户外传媒平台|户外媒体代理|媒体资源运营|媒体信息运营|户外媒体信息发布|媒体资源发布平台-www.dotaeye.com";
    ViewBag.Keywords = "媒体资源,户外广告信息,户外媒介发布,户外传媒平台,户外资源发布,户外媒体信息发布,媒体资源发布平台,媒体资源运营,媒体信息运营,户外广告网,户外广告招商,户外媒体代理,户外广告发布";
    ViewBag.Description = "鹰目户外媒体网，最大的户外媒体运营平台：户外广告网、户外广告招商、户外广告发布、户外资源发布、户外媒介发布、户外传媒平台、户外媒体代理、媒体资源运营、媒体信息运营、户外媒体信息发布、媒体资源发布平台。";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@Html.Action("city", new { province = CookieHelper.Province })

<nav class="top-menu">
    <div class="top-menu-tab">
        <div class="top-menu-category">
            <h2>
                <strong>全部户外分类</strong>
            </h2>
        </div>
        <ul class="top-menu-list">
            <li class="active"><a href="@Url.Action("index", "home", new { province = CookieHelper.Province })">首页</a></li>
            <li><a href="@Url.Action("index", "list", new
                    {
                        province = CookieHelper.Province,
                        city = 0,
                        mediacode = 0,
                        childmediacode = 0,
                        formatcode = 0,
                        ownercode = 0,
                        periodcode = 0,
                        page = 1
                    })">户外资源</a></li>
        </ul>
    </div>
</nav>

<article class="top-hot  clearfix">
    <div class="top-hot-left">
        @Html.Partial("_LeftMenu", (List<HttpLinkGroup>)ViewBag.LeftMenu)
    </div>
    <div class="top-hot-right cleafix">
        @Html.Partial("_SliderBox", (List<HttpLinkItem>)ViewBag.SliderBox)

        @Html.Partial("_SliderTabBox", (List<HttpLinkGroup>)ViewBag.SliderTabBox)
    </div>
</article>
<article class="main">
    <div class="main-hot clearfix">
        @Html.Partial("_ImgBlock", (List<HttpLinkItem>)ViewBag.TopCompany)
    </div>
    <div class="main-hot clearfix">
        @Html.Partial("_ImgBlock", (List<HttpLinkItem>)ViewBag.GoodCompany)
    </div>

    @Html.Partial("_Gallery", (List<HttpLinkGallery>)ViewBag.Gallery)

</article>
@*@Html.Partial("_TopHotHome", Model.TopHot)
@Html.Partial("_MainHome", Model.MainHot)*@