@{
    ViewBag.Title = "系统信息列表";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<article class="personal clearfix">
    <div class="personal-left">
        <div class="personal-nav">
            @Html.Partial("_PersonalLeftNav")
        </div>
    </div>
    <div class="personal-right">
        <div class="personal-right-body">
            <div class="personal-body-title clearfix">
                <ul class="personal-tab clearfix">
                    <li class="selected"><a href="@Url.Action("index")"><span>媒体收藏夹</span></a></li>
                    <li><a href="@Url.Action("recive")"><span>企业收藏夹</span></a></li>
                </ul>
            </div>
            <div class="personal-form mt20">

                @(Html.Kendo().Grid<FavoriteViewModel>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ID).Title("留言ID")
                            .Sortable(false)
                            .ClientTemplate("<input type='checkbox' name='ID_check' id='#=ID#_check'  class='chkbx' value='#=ID#' />")
                            .HeaderTemplate("<div style='text-align:center'><input type='checkbox' id='checkAll' onclick='Grid.checkAll(this)' title='全选'/></div>")
                            .Width(40).HtmlAttributes(new { style = "text-align:center" });
                        columns.Bound(c => c.ImgUrl).Title("媒体图片").ClientTemplate("<img class='table-list-img' src='#=ImgUrl#' alt='#=Name#' />").Width(76).Sortable(false);
                        columns.Bound(c => c.Name).Title("媒体详情").ClientTemplate("<ul class='table-list-info'><li><a class='table-list-link' href='http://www.dotaeye.com/meida-#=MediaID#'>#=Name#</a></li><li><span>城市：#=ProvinceName# - #=CityName# </span></li><li><span>媒体类别：#=PMediaCategoryName# - #=MediaCategoryName#</span></li><li> #=CompanyName# &nbsp;&nbsp;&nbsp;<a class='table-list-link' href='http://www.dotaeye.com/biz/#=TargetID#' >查看联系方式</a></li></ul>").Sortable(false);
                        columns.Bound(c => c.AddTime).Format("{0:yyyy-MM-dd}").Width(80).Title("添加时间");
                        columns.Template(@<text></text>)
                .ClientTemplate("<a class='k-button k-button-icontext ' href='javascript:void(0);' onclick='Grid.deleteSingle(this,\"#=ID#\");' ><span class='k-icon k-i-close'></span>删除</a>"
                )
                .Title("操作")
                .Width(80);
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Custom().Text("批量删除").HtmlAttributes(new { onclick = "Grid.deleteAll(this);", href = "javascript:void(0);" });
                    })
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model => model.Id(c => c.ID))
                        .Sort(sort => sort.Add(x => x.AddTime).Descending())
                        .Read(read => read.Action("Favorite_Read", "Favorite"))
                     )
                     .HtmlAttributes(new { style = "height:500px;" })
                    )


                <script type="text/javascript">
                    var Grid = {
                        id: 'Grid',
                        checkAll: function(element) {
                            var self = Grid;
                            var state = $(element).is(':checked');
                            $('[name="ID_check"]').attr('checked', state);
                        },
                        getCheckIds: function() {
                            return $.map($('[name="ID_check"]:checked'), function(item) { return $(item).val() }).join(',');
                        },
                        addSpinner: function(element) {
                            var $spinner = $('<img class="ajax-working" src="@Url.Content("~/Content/images/min-loading.gif")" title="work...." />').appendTo($(element));
                            $(element).addClass('disabled');
                        },
                        removeSpinner: function(element) {
                            $(element).find('.ajax-working').remove();
                            $(element).removeClass('disabled');
                        },
                        excute: function(element, url, Ids) {
                            if ($(element).hasClass('disabled'))
                                return false;
                            var self = Grid;
                            if (Ids) {
                                self.addSpinner(element);
                                $.ajax({
                                    type: 'POST',
                                    url: url,
                                    data: { ids: Ids },
                                    success: function(res) {
                                        if (res) {
                                            var grid = $("#Grid").data("kendoGrid");
                                            grid.dataSource.read();
                                            grid.refresh();
                                        }
                                    },
                                    complete: function() {
                                        self.removeSpinner(element);
                                    }
                                })
                            } else {
                                alert('请选择要处理的信息');
                                return false;
                            }
                        },
                        deleteAll: function(element) {
                            var self = Grid;
                            var url = '@Url.Action("FavoriteDelete", "Favorite")';
                            var Ids = self.getCheckIds();
                            self.excute(element, url, Ids);
                        },
                        deleteSingle: function(element, id) {
                            var self = Grid;
                            var url = '@Url.Action("FavoriteDelete", "Favorite")';
                            var Ids = id;
                            self.excute(element, url, Ids);
                        }
                    }
                    $(function() {
                        $('#verifyContent').load(function() {
                            $('#verifyLoading').hide();
                            $(this).show();
                        })
                    })

                </script>
            </div>
        </div>

    </div>
</article>
