@model SchemeViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}

<div class="main">
    <div class="print-container">
        <div class="print-head">
            <div class="print-head-title">
                <h1>@Model.Name</h1>
                <span>方案编号：@Model.ID</span>
                <div class="print-control">
                    <a class="k-button k-button-icontext " href="javascript:void(0);" onclick="window.print();"><span class="icon-print"></span>打印方案</a>
                </div>
            </div>
            <div class="print-head-desc">
                <strong>套餐描述</strong>：此套餐媒体覆盖王府井商圈、西直门商圈、西单商圈、东单商圈、中关村商圈、亚奥商圈、德胜门商圈等核心商业圈媒体。紧临“鸟巢”、水立方，由写字楼、国际公寓、七星级酒店和商业龙廊组成盘古大观；号称“日进斗金”的寸金之地王府井大街，北京最有名的商业街中的好友世界商场；有“年轻人的购物天堂”之美誉的西单商业街中的西单明珠商场；枢纽集北京北火车站及商场周围的西直门广场；“中国的硅谷”之称的中关村，紧邻的中关村联通；八达岭高速路的起点的德胜门，北桥的工美大厦；连通王府井与CBD的纽带的东单，国庆60周年天安门广场方形显示屏设施东单明珠商场留存。涵盖来北京旅游人群以及北京市本地的主流消费人群，覆盖面极广，另外LED屏高质量的画面显示，宣传效果非常突出，是企业在北京市场做户外推广的黄金媒体。
            </div>
        </div>
        <div class="print-body">
            <div class="print-nav">
                <span>投放数量<strong>@Model.Medias.Count</strong>个</span>
                <ul class="clearfix">
                    @for (var i = 0; i < Model.Medias.Count; i++)
                    {
                        <li>@(i + 1)<a href="#@(i)" title="@Model.Medias[i].Name">@Model.Medias[i].Name</a></li>
                    }
                </ul>
            </div>
            <div class="print-list">
                @for (var i = 0; i < Model.Medias.Count; i++)
                {
                    var item = Model.Medias[i];
                    <div class="print-item">
                        <div class="item-title">
                            <h3>@(i + 1)<strong id="@(i)">@item.Name</strong></h3>
                            <span class="zk zd">收起</span>
                        </div>
                        <div class="item-info">
                            <a class="item-img" href="@Url.Action("index", "show", new { id = item.MediaID })" target="_blank">
                                <img src="@UIHelper.GetImgUrl(item.ImgUrl, ImgUrlType.Img430)" alt="@item.Name"  ></a>
                            <ul>
                                <li><strong>所属地区：</strong>@item.ProvinceName/@item.CityName</li>
                                <li class="txrs"><strong>媒体分类：</strong>@item.PCategoryName/@item.CategoryName</li>
                                <li><strong>媒体形式：</strong>@item.FormatName</li>
                                <li class="txrs"><strong>人/车流量：</strong>@item.TrafficPerson 万以上/@item.TrafficAuto 万以上</li>
                                <li><strong>照明情况：</strong>@(item.HasLight ? UIHelper.GetTime(item.LightStrat) + "-" + UIHelper.GetTime(item.LightEnd) : "无")</li>
                                <li class="txrs"><strong>代理类型：</strong>@item.OwnerName</li>
                                <li><strong>媒体规格：</strong>@(item.Wdith)米*@(item.Height)米*@(item.TotalFaces)面=@((item.Wdith * item.Height * item.TotalFaces).ToString("F2"))平方米</li>
                                <li class="txrs"><strong>投放档期：</strong>@item.StartTime.ToString("yyyy-MM-dd") 至 @item.EndTime.ToString("yyyy-MM-dd")</li>
                                <li><strong>所属公司：</strong><a href="@Url.Action("index", "shop", new { id = item.MemberID })" target="_blank">@item.CompanyName</a></li>
                                <li class="txrs"><strong>联系方式：</strong>电话：@item.Phone  手机：@item.Mobile</li>
                            </ul>
                            <p><strong>媒体描述:</strong>&nbsp;@item.Description</p>
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

