@model OutDoor
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    var Company = (CompanyShopIntroViewModel)ViewBag.Company;
}
@Html.Action("city", "home", new { province = CookieHelper.Province })

@Html.Partial("_TopMenu", (List<HttpLinkGroup>)ViewBag.LeftMenu)

@Html.Partial("_Bread", (List<HttpLinkItem>)ViewBag.Bread)


<article class="details-wrap">
    <div class="details-info-wrap">

        <div class="clearfix details-box">
            <a href="javascript:;" id="litimgUp" class="details-scroll-btn details-scroll-up"><b class="up"></b></a>
            <a href="javascript:;" id="litimgDown" class="details-scroll-btn   details-scroll-down "><b class="down"></b></a>
            <div class=" details-info-show">
                <a href="@UIHelper.GetImgUrl(Model.MediaImg.ImgUrls.Split(',')[0], ImgUrlType.Img800)" class="jqzoom" rel='gal1'>
                    <img src="@UIHelper.GetImgUrl(Model.MediaImg.ImgUrls.Split(',')[0], ImgUrlType.Img430)" width="430" height="430" >
                </a>
            </div>
            <div class="details-info-box">
                <ul id="thumblist" class="details-info-list">
                    @for (var i = 0; i < Model.MediaImg.ImgUrls.Split(',').Length; i++)
                    {
                        var imgurl = Model.MediaImg.ImgUrls.Split(',')[i];
                        <li class="@(i == 0 ? "zoomThumbActive" : "")">
                            <a href="javascript:;" rel="{gallery:'gal1', smallimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img430)',largeimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)'}">
                                <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img120)"></a></li>
                    }

                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.jqzoom').jqzoom({
                    zoomType: 'standard',
                    lens:true,
                    preloadImages: false,
                    alwaysOn:false,
                    preloadText:'加载中...',
                    zoomWidth:430,
                    zoomHeight:430
                });
                if($('#thumblist').children('li').length<6){
                    $('.details-scroll-btn').addClass('details-scroll-btn-disabled');
                }
                var currentIndex=0;
                $('.details-scroll-btn').click(function(){
                    if($(this).hasClass('details-scroll-btn-disabled')){
                        return false;
                    }else{
                        var maxShowLength=5;
                        var totalLength=@Model.MediaImg.ImgUrls.Split(',').Length;
                        var marginTop=parseInt($('#thumblist').css('marginTop'));
                        var itemHeight=$('#thumblist').children('li').eq(0).outerHeight(true);
                        if($(this).hasClass('details-scroll-up')){
                            if(currentIndex+maxShowLength<totalLength){
                                currentIndex++;
                                $('#thumblist').css('marginTop',(marginTop-itemHeight)+'px');
                            }
                        }else{
                            if(marginTop!=0){
                                currentIndex--;
                                $('#thumblist').css('marginTop',(marginTop+itemHeight)+'px');
                            }
                        }
                    }
                })
            });
        </script>
        <dl class="details-info-content">
            <dt>@Model.Name - @(Model.Wdith)米*@(Model.Height)米*@(Model.TotalFaces)面</dt>
            <dd>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span class="details-info-item details-info-price">@Model.Area.PCategory.CateName - @Model.Area.CateName</span></dd>
            <dd>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<span class="details-info-item details-info-price-current"><strong>¥<b>@Model.Price</b> 万元/年</strong></span></dd>
            <dd>媒体类型：<span class="details-info-item">@Model.OutDoorMediaCate.PCategory.CateName - @Model.OutDoorMediaCate.CateName</span></dd>
            <dd>最短投放：<span class="details-info-item">@Model.PeriodCate.CateName</span></dd>
            <dd>媒体形式：<span class="details-info-item">@Model.FormatCate.CateName</span></dd>
            <dd>区域属性：<span class="details-info-item">@String.Join(",", Model.AreaAtt.Select(x => x.AttName))</span></dd>
            <dd>代理类型：<span class="details-info-item">@Model.OwnerCate.CateName</span> </dd>
            <dd>媒体档期：</dd>
            <dd>
                @Html.Partial("_DisplayAuctionCalendar", new ShowOutDoorSetAuctionCalendarViewModel() { MediaID = Model.MediaID, AuctionCalendar = Model.MediaID })
            </dd>
        </dl>
    </div>
    <div class="details-bottom-wrap clearfix">
        <div class="details-bottom-left">
            <div class="gray-box">
                <h4>媒体主信息</h4>
                <div class="gray-company">
                    <a href="@Url.Action("index", "shop", new { id = Company.MemberID })" class="gray-company-pic">
                        <img src="@Company.Logo" width="130" height="110" alt="@Company.Name"></a>
                    <ul>
                        <li><a href="@Url.Action("index", "shop", new { id = Company.MemberID })" class="btn btn-danger">
                            <i class="icon-home icon-white"></i>&nbsp;&nbsp;公司首页</a></li>
                        <li><a href="@Url.Action("contact", "shop", new { id = Company.MemberID })" class="btn btn-danger">
                            <i class="icon-globe icon-white"></i>&nbsp;&nbsp;联系方式</a></li>
                        <li><a href="javascript:;" class="btn btn-danger btn-feedback">
                            <i class="icon-envelope icon-white"></i>&nbsp;&nbsp;留言咨询</a></li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <ul class="gray-company-list">
                    <li class="name">公司名称：<span> <a href="@Url.Action("index", "shop", new { id = Company.MemberID })" ">@Company.Name</a></span></li>
                    <li class="type">所在城市：<span>@Company.Province - @Company.City </span></li>
                </ul>
            </div>

            <div class="gray-box mt15">
                <h4><span class="c_red">@Model.Area.PCategory.CateName - @Model.Area.CateName</span> 相关户外信息</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getrelateMedia", "ajaxcontent", new { province = Model.Area.PCategory.ID, city = Model.CityCode })">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>

            <div class="gray-box mt15">
                <h4><span class="c_red">推荐</span> 户外信息</h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getsuggestMedia", "ajaxcontent", new { province = Model.Area.PCategory.ID })">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>

            <div class="gray-box mt15">
                <h4><span class="c_red">媒体主</span> 其他户外信息   <a class="more" href="@Url.Action("source", "shop", new { id = Model.MemberID })">更多</a></h4>
                <div class="gray-list ajax-content" data-url="@Url.Action("getMemberMedia", "ajaxcontent", new { id = Model.MemberID })">
                    <div class="gary-loadding">
                        <img src="@Url.Content("~/Content/images/min-loading.gif")" />
                    </div>
                </div>
            </div>

        </div>
        <div class="details-right">
            <div class="details-nav">
                <span class="active  details-goods" data-id="goods-details">媒体详情</span>
                <span class="details-position" data-id="goods-position">位置信息</span>
                <span class="details-credentials" data-id="goods-credentials">相关证书</span>
                <span class="details-feedback" data-id="goods-feedback">留言咨询</span>
                <a href="javascript:;" class="btn btn-danger btn-addscheme">
                    <i class="icon-briefcase icon-white"></i>&nbsp;&nbsp;加入方案</a>
                <a href="javascript:;" class="btn btn-danger btn-favorite ">
                    <i class="icon-plus icon-white"></i>&nbsp;&nbsp;收藏</a>
            </div>
            <div class="goods" id="goods-details">
                <ul class="goods-params">
                    <li class="">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span>@Model.Area.PCategory.CateName - @Model.Area.CateName</span></li>
                    <li class="">媒体类型：<span>@Model.OutDoorMediaCate.PCategory.CateName - @Model.OutDoorMediaCate.CateName</span></li>
                    <li class="goods-params-long">具体位置：<span>@Model.Location</span></li>
                    <li class="">最短投放：<span>@Model.PeriodCate.CateName</span></li>
                    <li class="">媒体形式：<span>@Model.FormatCate.CateName</span></li>
                    <li class="goods-params-long">区域属性：<span>@String.Join(",", Model.AreaAtt.Select(x => x.AttName))</span></li>
                    <li class="goods-params-long">媒体规格：<span>@(Model.Wdith)米*@(Model.Height)米*@(Model.TotalFaces)面=@((Model.Wdith * Model.Height * Model.TotalFaces).ToString("F2"))平方米</span></li>
                    <li class="">代理类型：<span>@Model.OwnerCate.CateName</span></li>
                    <li class="">代理截至：<span>@Model.Deadline.ToString("yyyy-MM-dd")</span></li>
                    @if (Model.HasLight)
                    {
                        <li class="">照明情况：<span>
                            @UIHelper.GetTime(Model.LightStrat)-@UIHelper.GetTime(Model.LightEnd)
                        </span></li>
                    }
                    else
                    {
                        <li class="">照明情况：<span>无</span></li>
                    }
                    <li class="">日车流量：<span>@Model.TrafficAuto 万辆</span></li>
                    <li class="">日人流量：<span>@Model.TrafficAuto 万人</span></li>
                    <li class="goods-params-long">具体描述：<span>@Model.Description</span></li>
                </ul>
                <h3 class="goods-head goods-intro">商品介绍</h3>

                @for (var i = 0; i < Model.MediaImg.ImgUrls.Split(',').Length; i++)
                {
                    var imgurl = Model.MediaImg.ImgUrls.Split(',')[i];
                    <div class="tc">
                        <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                    </div>
                }
            </div>
            <div class="goods-position" id="goods-position">
                <h3 class="goods-head goods-packing">位置信息</h3>
                <div class="goods-position-container">
                    @Html.Partial("_DisplayMap", new ShowOutDoorMapViewModel()
               {
                   MediaID = Model.MediaID,
                   Position = Model.Lat + "|" + Model.Lng
               })
                </div>
            </div>
            <div class="goods-credentials" id="goods-credentials">
                <h3 class="goods-head goods-comment">相关证书</h3>
                @for (var i = 0; i < Model.CredentialsImg.ImgUrls.Split(',').Length; i++)
                {
                    var imgurl = Model.CredentialsImg.ImgUrls.Split(',')[i];
                    <div class="tc">
                        <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                    </div>
                }
            </div>

            <div class="goods-feedback" id="goods-feedback" data-show="1">
                <h3 class="goods-head goods-comment">留言咨询</h3>
                <div class="goods-feedback-container clearfix">
                    <div class="goods-feedback-tab">
                        <ul>
                            <li name="goodsQA1" class="active">留言咨询</li>
                        </ul>
                    </div>
                    <div class="goods-feedback-tips">
                        <p class=" clearfix" style="">
                            <span class="leftspan"><i>温馨提示：</i>因厂家会随时更改产品的包装、价格或者赠品等信息，且每位咨询者购买情况、提问时间等不同。因此以下回复仅对提问者3天内有效，对其余网友仅供参考！若由此给您带来不便请多多谅解，感谢您的支持！</span>
                            <span class="rightspan">
                                <a href="javascript:;" class="btn btn-danger btn-feedback">
                                    <i class="icon-envelope icon-white"></i>&nbsp;&nbsp;留言咨询</a><br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @(Html.Kendo().Window().Name("Win-feedback")
            .Title("留言咨询-" + Company.Name)
            .Visible(false)
            .Modal(true)
            .Width(700)
            .Height(560)
            .Scrollable(true)
            .Content(@<text>
            <div class="goods-feedback-comment">
                <div class="goods-feedback-box zxDetail">
                    <dl name="tips_1" style="display: block;">
                        <dd>@(Company.Description.Length > 120 ? Company.Description.Substring(0, 120) + "..." : Company.Description)[<a href="@Url.Action("intro", "shop", new { id = Company.MemberID })" class="z_f2">详细</a>]</dd>
                        <dd class="c_ba2636">联系地址：@Company.Addresss</dd>
                    </dl>
                </div>
                <div class="goods-feedback-product ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="90" align="center"><a href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">
                                    <img src="@Model.MediaImg.FocusImgUrl" width="70" height="70" alt="@Model.Name" title="@Model.Name"></a></td>
                                <td width="240" align="left" title="@Model.Name"><a class="aC333" href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">@Model.Name
                                </a></td>
                                <td width="190" align="center">价格：<strong class="c_ba2636">¥@Model.Price 万元/年</strong></td>
                                <td align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="goods-feedback-commbox">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <th valign="top" width="95" height="34"></th>
                                <td valign="top" height="34"></td>
                            </tr>
                            <tr>
                                <th valign="top">咨询内容：</th>
                                <td>
                                    <textarea id="input-feedback" name="input-feedback" class="commentText"></textarea>
                                    <p class="txtTips zxBot">
                                        <span>10-300字之间，您还可以输入<strong class="c_red availWrite"> 300 </strong>个字</span>
                                    </p>
                                    <p class="txtTips zxError c_red" style="display: none;">
                                        <span>您多写了<strong class="c_red errorWrite"> 0 </strong>个字，精简一下吧！</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td><a class="btn btn-danger mt20" href="javascript:void(0);" id="submit-feedback"><strong>提交咨询</strong></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </text>)
)
            @(Html.Kendo().Window().Name("Win-favorite")
            .Title("提示")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
            <div class="alert">
                <div class="image">
                    <img src="~/Content/images/icon/success.png" />
                </div>
                <div class="text">
                    <span class="jsmessage-text">收藏成功! <a href="@Url.Action("favorite", "personal")">查看我的收藏 &gt;&gt;</a></span>
                </div>
            </div>
            </text>
            )
            )

            @(Html.Kendo().Window().Name("Win-scheme-success")
            .Title("提示")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
            <div class="alert">
                <div class="image">
                    <img src="~/Content/images/icon/success.png" />
                </div>
                <div class="text">
                    <span class="jsmessage-text">加入方案成功! <a href="@Url.Action("index", "scheme")">管理我的方案 &gt;&gt;</a></span>
                </div>
            </div>
            </text>
            )
            )

            @(Html.Kendo().Window().Name("Win-scheme")
            .Title("加入方案")
            .Visible(false)
            .Modal(true)
            .Width(500)
            .Scrollable(true)
            .Content(@<text>
            <div class="goods-feedback-product" id="goods-addscheme-info" style="margin: 0 auto">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="90" align="center"><a href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">
                                <img src="@Model.MediaImg.FocusImgUrl" width="70" height="70" alt="@Model.Name" title="@Model.Name"></a></td>
                            <td width="240" align="left" title="@Model.Name"><a class="aC333" href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">@Model.Name
                            </a></td>
                            <td width="190" align="center">价格：<strong class="c_ba2636">¥@Model.Price 万元/年</strong></td>
                            <td align="left"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </text>
            )
            )
            <script type="text/javascript">
                $(function() {
                    $('.details-nav').find('span').click(function() {
                        var targetids = $.map($('.details-nav').find('span'), function(item) { return $(item).data('id') });
                        var currentId = $(this).data('id');
                        $(this).addClass('active').siblings().removeClass('active');
                        $.each(targetids, function(index, item) {
                            if (item === currentId || $('#' + item).data('show') === 1) {
                                $('#' + item).show();
                            } else {
                                $('#' + item).hide();
                            }
                        })
                    })
                    $('.btn-feedback').click(function() {
                        var kendoWindow = $('#Win-feedback').data('kendoWindow');
                        kendoWindow.center().open();
                    })
                    $('#input-feedback').keyup(function(e) {
                        if($(this).val().length>300){
                            $('.zxBot').hide();
                            $('.zxError').show();
                            $('.zxError').find('.errorWrite').text($(this).val().length-300);
                        }else{
                            $('.zxError').hide();
                            $('.zxBot').show();
                            $(this).next().find('.availWrite').text(300-$(this).val().length);
                        }
                    })
                    $('#submit-feedback').click(function() {

                        Maitonn.JHelper.checkLogin().done(function(isLogin){
                            if(isLogin){
                                if ($('#input-feedback').val().length > 300 || $('#input-feedback').val().length < 10) {
                                    alert('请输入10~300个字');
                                    return false;
                                } 
                                var id=@Company.MemberID,
                                          name='@Model.Name',
                                    content=$('#input-feedback').val();
                                $.ajax({
                                    type:'POST',
                                    url:'@Url.Action("addmessage", "ajaxservice")',
                                    data:{
                                        id:id,
                                        name:name,
                                        content:content
                                    },
                                    success:function(res){
                                        if (res.Success) {
                                            var kendoWindow = $('#Win-feedback').data('kendoWindow');
                                            kendoWindow.close();
                                        }
                                        Maitonn.JHelper.showMessage(res.Message);
                                    }
                                });
                                
                            }else{
                                Maitton.JHelper.showPopLogin();
                            }
                        })
                    });

                    $('.btn-favorite').click(function(e){
                        e.preventDefault();
                        Maitonn.JHelper.checkLogin().done(function(isLogin){
                            if(isLogin){
                                var mediaId='@Model.MediaID';
                                var kwindow=$('#Win-favorite').data('kendoWindow');
                                Maitonn.JHelper.checkFavorite(mediaId).done(function(result){
                                    if(result.Success){
                                        Maitonn.JHelper.addFavorite(mediaId).done(function(res){
                                            if(res.Success){
                                                kwindow.center().open();
                                            }else{
                                                Maitonn.JHelper.showErrorMessage(res.Message);
                                            }
                                        })
                                    }else{
                                        Maitonn.JHelper.showErrorMessage(result.Message);
                                    }
                                })
                            }else{
                                Maitonn.JHelper.showPopLogin();
                            }
                        });
                        
                    })

                    $('.btn-addscheme').click(function(e){
                        e.preventDefault();
                        Maitonn.JHelper.checkLogin().done(function(isLogin){
                            if(isLogin){
                                var mediaId='@Model.MediaID';
                                var price=@(Model.Price / 365);
                                var kwindow=$('#Win-scheme').data('kendoWindow');
                                if(!$('.goods-addscheme')[0]){
                                    Maitonn.JHelper.getSchemeForm().done(function(html){
                                        $('#goods-addscheme-info').after(html);
                                        Maitonn.JHelper.getScheme().done(function(res){
                                            if(res.length>0){
                                                $("#schemeId").kendoDropDownList({
                                                    dataTextField: "Text",
                                                    dataValueField: "Value",
                                                    dataSource: res,
                                                    index: 0
                                                });
                                            }else{
                                                $('[name="addtype"][value="2"]').attr('disabled','disabled');
                                            }
                                        })

                                        Maitonn.JHelper.getMediaPeriodCode(mediaId).done(function(res){
                                            $("#period").kendoDropDownList({
                                                dataTextField: "Text",
                                                dataValueField: "Value",
                                                dataSource: res,
                                                index: 0,
                                                change:changePeriodCode
                                            });
                                        })

                                        var today=new Date();

                                        $('[name="startTime"]').kendoDatePicker();

                                        var startTime= $('[name="startTime"]').data('kendoDatePicker');

                                        startTime.min(today);

                                        startTime.value(today);

                                        $('[name="number"]').kendoNumericTextBox({
                                            "format":"n0",
                                            "decimals":0,
                                            "change":changePeriodCode,
                                            "spin":changePeriodCode
                                        })
                                    
                                        var number= $('[name="number"]').data('kendoNumericTextBox');
                                    
                                        number.min(1);

                                        function changePeriodCode(){
                                            var periodValue=$("#period").val();
                                            var numberValue=number.value();
                                            var $price=$('.goods-price').find('b');
                                            $price.text((periodValue*numberValue*price).toFixed(2));
                                            $('#price').val((periodValue*numberValue*price).toFixed(2));
                                        }

                                        $('[name="addtype"]').on('click',addtypeClick)

                                        $('#btn-comfirm-scheme').on('click',comfirmSchemeClick)
                                         
                                        $('#schemeName').on('keyup',CheckForm);
                                  
                                        $('#btn-cancle-scheme').on('click', function() {
                                            $('#Win-scheme').data('kendoWindow').close();
                                        })

                                        changePeriodCode();
                                    })
                                }
                                setTimeout(function(){
                                    kwindow.center().open();
                                },1000)

                            }else{
                                Maitonn.JHelper.showPopLogin();
                            }
                        });
                    })

                    function addtypeClick(){
                        var value=$(this).val();
                        if(value==1){
                            $('[name="schemeName"]').parents('.form-field').show();
                            $('[name="schemeDescription"]').parents('.form-field').show();
                            $('[name="schemeId"]').parents('.form-field').hide();
                        }else{
                            if($(this).attr('disabled')=='disabled'){
                            }else{
                                $('[name="schemeName"]').parents('.form-field').hide();
                                $('[name="schemeDescription"]').parents('.form-field').hide();
                                $('[name="schemeId"]').parents('.form-field').show();
                            }
                        }
                    }

                    function comfirmSchemeClick(){
                        if(CheckForm()){
                            var mediaId=@Model.MediaID;

                            var addType=$('[name="addtype"]:checked').val();
                            var kwindowSuccess=$('#Win-scheme-success').data('kendoWindow');
                            var kwindow=$('#Win-scheme').data('kendoWindow');
                            var data={};
                            if(addType==1){
                                data.schemeName=$('#schemeName').val();
                                data.schemeDescription=$('#schemeDescription').val();
                                data.schemeId=0;
                           
                            }else{
                                data.schemeName='';
                                data.schemeDescription='';
                                data.schemeId=$('#schemeId').val();
                            }

                            data.periodCode=parseInt($('#period').val());

                            data.periodCount=parseInt($('#number').val());

                            data.startTime=$('#startTime').val();
                          
                            var endTime=new Date($('#startTime').val()).addDays(($('#number').val()*$('#period').val()));
                         
                            data.endTime=endTime.format('yyyy/mm/dd');

                            data.id=mediaId;

                            data.price=$('#price').val();

                            Maitonn.JHelper.addScheme(data).done(function(res){
                                if(res.Success){
                                    kwindow.close();
                                    $('.goods-addscheme').remove();
                                    kwindowSuccess.center().open();
                                }else{
                                    Maitonn.JHelper.showErrorMessage(res.Message);
                                }
                            })
                        }else{
                            return false;
                        }
     
                    }

                    function CheckForm(){
                        var addType=$('[name="addtype"]:checked').val();
                        var $form_tips=$('.form_tips_error').find('span');
                        var validateErrors=[];
                        if(addType==1){
                            var schemeName=$('#schemeName').val();
                            if(schemeName==''){
                                $form_tips.text('请填写方案名称');
                                validateErrors.push('请填写方案名称');
                            }else if(schemeName.length>30){
                                $form_tips.text('方案名称最多30个字');
                                validateErrors.push('方案名称最多30个字');
                            }
                        }
                        if(validateErrors.length==0){
                            $('.form_tips_error').hide();
                        }else{
                            $('.form_tips_error').show();
                            return false;
                        }
                        return validateErrors.length==0;
                    }
                })
            </script>
        </div>
    </div>
</article>

