@model ShowViewModel
@{
    ViewBag.Title = "网易保健品-有态度的保健品商城,进口保健食品,国内可信赖品牌";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@Html.Action("city", "home", new { province = CookieHelper.Province })

@Html.Partial("_DetailsNav", Model.ListMenu)

<div class="nav-bread">

    @for (var i = 0; i < Model.Braed.Items.Count; i++)
    {
        var item = Model.Braed.Items[i];
        if (i == 0)
        {
        <text>
        <a class="nav-bread-home" href="@item.Url"></a>&gt;
        @if (Model.Braed.Items.Count == 1)
        {
<strong>户外资源</strong>
        }
        </text>
        }
        else
        {
            if (i == Model.Braed.Items.Count - 1)
            {
        <strong>@item.Name</strong>
            }
            else
            {
        <text>
        <a href="@item.Url">@item.Name</a> &gt;
    </text>
            }
        }
    }

</div>
<article class="details-wrap">
    <div class="details-info-wrap">

        <div class="clearfix details-box">
            <a href="javascript:;" id="litimgUp" class="details-scroll-btn details-scroll-up"><b class="up"></b></a>
            <a href="javascript:;" id="litimgDown" class="details-scroll-btn   details-scroll-down"><b class="down"></b></a>
            <div class=" details-info-show">
                <a href="@UIHelper.GetImgUrl(Model.Item.MediaImg.ImgUrls.Split(',')[0], ImgUrlType.Img800)" class="jqzoom" rel='gal1'>
                    <img src="@UIHelper.GetImgUrl(Model.Item.MediaImg.ImgUrls.Split(',')[0], ImgUrlType.Img430)" width="430" height="430" >
                </a>
            </div>
            <div class="details-info-box">
                <ul id="thumblist" class="details-info-list">

                    @for (var i = 0; i < Model.Item.MediaImg.ImgUrls.Split(',').Length; i++)
                    {
                        var imgurl = Model.Item.MediaImg.ImgUrls.Split(',')[i];
                        <li class="@(i == 0 ? "zoomThumbActive" : "")">
                            <a href="javascript:;" rel="{gallery:'gal1', smallimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img430)',largeimage:'@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)'}">
                                <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img120)"></a></li>
                    }

                </ul>
            </div>


        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.jqzoom').jqzoom({
                    zoomType: 'standard',
                    lens:true,
                    preloadImages: false,
                    alwaysOn:false,
                    preloadText:'加载中...',
                    zoomWidth:430,
                    zoomHeight:430
                });
            });
        </script>
        <dl class="details-info-content">
            <dt>@Model.Item.Name - @(Model.Item.Wdith)米*@(Model.Item.Height)米*@(Model.Item.TotalFaces)面</dt>
            <dd>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span class="details-info-item details-info-price">@Model.Item.Area.PCategory.CateName - @Model.Item.Area.CateName</span></dd>
            <dd>售&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：<span class="details-info-item details-info-price-current"><strong>¥<b>@Model.Item.Price</b> 万元/年</strong></span></dd>
            <dd>媒体类型：<span class="details-info-item">@Model.Item.OutDoorMediaCate.PCategory.CateName - @Model.Item.OutDoorMediaCate.CateName</span></dd>
            <dd>最短投放：<span class="details-info-item">@Model.Item.PeriodCate.CateName</span></dd>
            <dd>媒体形式：<span class="details-info-item">@Model.Item.FormatCate.CateName</span></dd>
            <dd>区域属性：<span class="details-info-item">@String.Join(",", Model.Item.AreaAtt.Select(x => x.AttName))</span></dd>
            <dd>代理类型：<span class="details-info-item">@Model.Item.OwnerCate.CateName</span> </dd>
            <dd>媒体档期：</dd>
            <dd>
                @Html.Partial("_DisplayAuctionCalendar", new ShowOutDoorSetAuctionCalendarViewModel() { MediaID = Model.MediaID, AuctionCalendar = Model.MediaID })
            </dd>
        </dl>
    </div>
    <div class="details-bottom-wrap clearfix">
        <div class="details-bottom-left">
            <div class="gray-box">
                <h4>媒体主信息</h4>
                <div class="gray-company">
                    <a href="@Url.Action("index", "shop", new { id = Model.Company.MemberID })" class="gray-company-pic">
                        <img src="@Model.Company.Logo" width="130" height="110" alt="@Model.Company.Name"></a>
                    <ul>
                        <li><a href="@Url.Action("index", "shop", new { id = Model.Company.MemberID })" class="btn btn-danger">
                            <i class="icon-home icon-white"></i>&nbsp;&nbsp;公司首页</a></li>
                        <li><a href="@Url.Action("contact", "shop", new { id = Model.Company.MemberID })" class="btn btn-danger">
                            <i class="icon-globe icon-white"></i>&nbsp;&nbsp;联系方式</a></li>
                        <li><a href="javascript:;" class="btn btn-danger btn-feedback">
                            <i class="icon-envelope icon-white"></i>&nbsp;&nbsp;留言咨询</a></li>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <ul class="gray-company-list">
                    <li class="name">公司名称：<span>@Model.Company.Name</span></li>
                    <li class="type">所在城市：<span>@Model.Company.Province - @Model.Company.City </span></li>
                    <li class="reg">企业规模：<span>@Model.Company.ScaleName</span></li>
                    <li class="update noLine">注册资金：<span>@Model.Company.FundName</span></li>
                </ul>
            </div>
            <div class="gray-box mt10">
                <h4>该公司其他户外资源</h4>
                <ul class="list-gray-view">
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                    <li class="clearfix list-gray-last">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                </ul>
            </div>
            <div class="gray-box mt10">
                <h4>浏览了此商品的用户还购买了</h4>
                <ul class="list-gray-view">
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>
                    </li>
                    <li class="clearfix">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>
                    </li>
                    <li class="clearfix list-gray-last">
                        <a href="/product/854.html" target="_blank" class="list-gray-img" style="background-image: none; background-color: rgb(255, 255, 255); background-position: initial initial; background-repeat: initial initial;">
                            <img width="100" height="100" border="0" src="http://img4.126.net/health/product/20130114/hbxa79sc10114_100_100.jpg" alt="自然之宝番茄红素软胶囊250mg/粒*100粒" title="自然之宝番茄红素软胶囊250mg/粒*100粒"></a>
                        <p class="list-gray-desc">
                            <strong class="c_ba2636">20%</strong><strong>会买：</strong>
                            <a class="list-gray-title" target="_blank" title="自然之宝番茄红素软胶囊250mg/粒*100粒" href="/product/854.html">自然之宝番茄红素软胶囊250mg/粒*100粒</a>
                        </p>
                        <p class="list-gray-price"><strong>¥108.68</strong></p>
                        <p class="list-gray-gift">
                            <span title="原品1瓶">赠</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="gray-box mt10" style="visibility: hidden">
                <h3><strong>浏览历史</strong></h3>
                <ul></ul>
            </div>
        </div>
        <div class="details-right">
            <div class="details-nav">
                <span class="active  details-goods" data-id="goods-details">媒体详情</span>
                <span class="details-position" data-id="goods-position">位置信息</span>
                <span class="details-credentials" data-id="goods-credentials">相关证书</span>
                <span class="details-feedback" data-id="goods-feedback">留言咨询</span>

                <a href="javascript:;" class="btn btn-danger btn-addscheme">
                    <i class="icon-briefcase icon-white"></i>&nbsp;&nbsp;加入方案</a>

                <a href="javascript:;" class="btn btn-danger ">
                    <i class="icon-plus icon-white"></i>&nbsp;&nbsp;收藏</a>


            </div>
            <div class="goods" id="goods-details">
                <ul class="goods-params">

                    <li class="">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<span>@Model.Item.Area.PCategory.CateName - @Model.Item.Area.CateName</span></li>
                    <li class="">媒体类型：<span>@Model.Item.OutDoorMediaCate.PCategory.CateName - @Model.Item.OutDoorMediaCate.CateName</span></li>
                    <li class="goods-params-long">具体位置：<span>@Model.Item.Location</span></li>
                    <li class="">最短投放：<span>@Model.Item.PeriodCate.CateName</span></li>
                    <li class="">媒体形式：<span>@Model.Item.FormatCate.CateName</span></li>
                    <li class="goods-params-long">区域属性：<span>@String.Join(",", Model.Item.AreaAtt.Select(x => x.AttName))</span></li>
                    <li class="goods-params-long">媒体规格：<span>@(Model.Item.Wdith)米*@(Model.Item.Height)米*@(Model.Item.TotalFaces)面=@((Model.Item.Wdith * Model.Item.Height * Model.Item.TotalFaces).ToString("F2"))平方米</span></li>

                    <li class="">代理类型：<span>@Model.Item.OwnerCate.CateName</span></li>
                    <li class="">代理截至：<span>@Model.Item.Deadline.ToString("yyyy-MM-dd")</span></li>
                    @if (Model.Item.HasLight)
                    {
                        <li class="">照明情况：<span>
                            @UIHelper.GetTime(Model.Item.LightStrat)-@UIHelper.GetTime(Model.Item.LightEnd)
                        </span></li>
                    }
                    else
                    {
                        <li class="">照明情况：<span>无</span></li>
                    }
                    <li class="">日车流量：<span>@Model.Item.TrafficAuto 万辆</span></li>
                    <li class="">日人流量：<span>@Model.Item.TrafficAuto 万人</span></li>
                    <li class="goods-params-long">具体描述：<span>@Model.Item.Description</span></li>
                </ul>
                <h3 class="goods-head goods-intro">商品介绍</h3>

                @for (var i = 0; i < Model.Item.MediaImg.ImgUrls.Split(',').Length; i++)
                {
                    var imgurl = Model.Item.MediaImg.ImgUrls.Split(',')[i];
                    <div class="tc">
                        <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                    </div>
                }
            </div>
            <div class="goods-position" id="goods-position">
                <h3 class="goods-head goods-packing">位置信息</h3>
                <div class="goods-position-container">
                    @Html.Partial("_DisplayMap", new ShowOutDoorMapViewModel()
               {
                   MediaID = Model.Item.MediaID,
                   Position = Model.Item.Lat + "|" + Model.Item.Lng
               })
                </div>
            </div>
            <div class="goods-credentials" id="goods-credentials">
                <h3 class="goods-head goods-comment">相关证书</h3>
                @for (var i = 0; i < Model.Item.CredentialsImg.ImgUrls.Split(',').Length; i++)
                {
                    var imgurl = Model.Item.CredentialsImg.ImgUrls.Split(',')[i];
                    <div class="tc">
                        <img src="@UIHelper.GetImgUrl(imgurl, ImgUrlType.Img800)" />
                    </div>
                }
            </div>

            <div class="goods-feedback" id="goods-feedback" data-show="1">
                <h3 class="goods-head goods-comment">留言咨询</h3>
                <div class="goods-feedback-container clearfix">
                    <div class="goods-feedback-tab">
                        <ul>
                            <li name="goodsQA1" class="active">留言咨询</li>
                        </ul>
                    </div>
                    <div class="goods-feedback-tips">
                        <p class=" clearfix" style="">
                            <span class="leftspan"><i>温馨提示：</i>因厂家会随时更改产品的包装、价格或者赠品等信息，且每位咨询者购买情况、提问时间等不同。因此以下回复仅对提问者3天内有效，对其余网友仅供参考！若由此给您带来不便请多多谅解，感谢您的支持！</span>
                            <span class="rightspan">
                                <a href="javascript:;" class="btn btn-danger btn-feedback">
                                    <i class="icon-envelope icon-white"></i>&nbsp;&nbsp;留言咨询</a><br>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            @(Html.Kendo().Window().Name("Win-feedback")
    .Title("留言咨询-" + Model.Company.Name)
    .Visible(false)
    .Modal(true)
    .Draggable(false)
    .Width(700)
    .Height(560)
    .Scrollable(true)
    .Content(@<text>
            <div class="goods-feedback-comment">
                <div class="goods-feedback-box zxDetail">
                    <dl name="tips_1" style="display: block;">
                        <dd>@(Model.Company.Description.Length > 120 ? Model.Company.Description.Substring(0, 120) + "..." : Model.Company.Description)[<a href="@Url.Action("intro", "shop", new { id = Model.Company.MemberID })" class="z_f2">详细</a>]</dd>
                        <dd class="c_ba2636">联系地址：@Model.Company.Addresss</dd>
                    </dl>
                </div>
                <div class="goods-feedback-product ">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="90" align="center"><a href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">
                                    <img src="@Model.Item.MediaImg.FocusImgUrl" width="70" height="70" alt="@Model.Item.Name" title="@Model.Item.Name"></a></td>
                                <td width="240" align="left" title="@Model.Item.Name"><a class="aC333" href="@Url.Action("index", "show", new { id = Model.MediaID })" target="_blank">@Model.Item.Name
                                </a></td>
                                <td width="190" align="center">价格：<strong class="c_ba2636">¥@Model.Item.Price 万元/年</strong></td>
                                <td align="left"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="goods-feedback-commbox">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <th valign="top" width="95" height="34"></th>
                                <td valign="top" height="34"></td>
                            </tr>
                            <tr>
                                <th valign="top">咨询内容：</th>
                                <td>
                                    <textarea id="input-feedback" name="input-feedback" class="commentText"></textarea>
                                    <p class="txtTips zxBot">
                                        <span>10-300字之间，您还可以输入<strong class="c_4b8400 availWrite">300</strong>个字</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td><a class="btn btn-danger mt20" href="javascript:void(0);" id="submit-feedback"><strong>提交咨询</strong></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </text>)
)

            <script type="text/javascript">
                $(function() {
                    $('.details-nav').find('span').click(function() {
                        var targetids = $.map($('.details-nav').find('span'), function(item) { return $(item).data('id') });
                        var currentId = $(this).data('id');
                        $(this).addClass('active').siblings().removeClass('active');
                        $.each(targetids, function(index, item) {
                            if (item === currentId || $('#' + item).data('show') === 1) {
                                $('#' + item).show();
                            } else {
                                $('#' + item).hide();
                            }
                        })
                    })
                    $('.btn-feedback').click(function() {
                        var kendoWindow = $('#Win-feedback').data('kendoWindow');
                        kendoWindow.center().open();
                    })
                    $('#input-feedback').keydown(function(e) {
                        $(this).next().find('.availWrite').text(300-$(this).val().length);
                    })
                    $('#submit-feedback').click(function() {
                        if (Maitonn.JHelper.checkLogin())
                        {
                            if ($('#input-feedback').val().length > 300 || $('#input-feedback').val().length < 10) {
                                alert('请输入10~300个字');
                                return false;
                            } 
                            var id=@Model.Company.MemberID,
                                    name='@Model.Item.Name',
                                    content=$('#input-feedback').val();
                            $.ajax({
                                type:'POST',
                                url:'@Url.Action("addmessage", "ajaxservice")',
                                data:{
                                    id:id,
                                    name:name,
                                    content:content
                                },
                                success:function(res){
                                    if (res.Success) {
                                        var kendoWindow = $('#Win-feedback').data('kendoWindow');
                                        kendoWindow.close();
                                    }
                                    Maitonn.JHelper.showMessage(res.Message);
                                }
                            })

                        } else {
                            Maitonn.JHelper.showPopLogin();
                        }
                    })
                })
            </script>
        </div>
    </div>
</article>

